# Class => org.fundaciobit.pluginsib.carpetafront.pinbalcontrataciones.PinbalContratacionesCarpetaFrontPlugin

# Connexió
es.caib.carpeta.pluginsib.carpetafront.pinbalcontrataciones.baseurl=[=SP["es.caib.carpeta.pluginsib.carpetafront.dadespersonals.pinbal.baseurl"]]
es.caib.carpeta.pluginsib.carpetafront.pinbalcontrataciones.username=[=SP["es.caib.carpeta.pluginsib.carpetafront.dadespersonals.pinbal.username"]]
es.caib.carpeta.pluginsib.carpetafront.pinbalcontrataciones.password=[=SP["es.caib.carpeta.pluginsib.carpetafront.dadespersonals.pinbal.password"]]

# Informació per la sol·licitud
es.caib.carpeta.pluginsib.carpetafront.pinbalcontrataciones.codicertificat=SVDCCAACPCWS01

es.caib.carpeta.pluginsib.carpetafront.pinbalcontrataciones.codiprocediment=CODSVDR_GBA_20121107
es.caib.carpeta.pluginsib.carpetafront.pinbalcontrataciones.finalitat=Consulta estar al corrent de pagament a CAIB
es.caib.carpeta.pluginsib.carpetafront.pinbalcontrataciones.identificadorsolicitant=S0711001H
es.caib.carpeta.pluginsib.carpetafront.pinbalcontrataciones.unitattramitadora=Servei d'escolarització

# Datos Específicos Sol·licitud
es.caib.carpeta.pluginsib.carpetafront.pinbalcontrataciones.codigoprovincia=07
es.caib.carpeta.pluginsib.carpetafront.pinbalcontrataciones.codigocomunidadautonoma=04

# Necessari en DEV i PRE. NO es fan cridades reals sinó d,un joc de proves
# Exemples:   - 30000056Y, FUSTER
#             - 41107605G, JAUME
es.caib.carpeta.pluginsib.carpetafront.pinbalcontrataciones.testnif=30000056Y
es.caib.carpeta.pluginsib.carpetafront.pinbalcontrataciones.testsurname=FUSTER

# Common
es.caib.carpeta.pluginsib.carpetafront.pinbalcontrataciones.development=true
