# Excloure del repositori
# Directoris de resultat del Maven
target/
# Fitxers de projecte de Eclipse
.classpath
.project
.settings/
# Fitxers de projecte de IntelliJ IDEA
*.iml
.idea/
# Fitxers de projecte de Netbeans
nb-configuration.xml
/carpeta-front/react/react/build.bat
/carpeta-front/react/react/node_modules
/carpeta-front/react/react/build
/carpeta-front/react/react/package-lock.json
/carpeta-front/react/react/public/package-lock.json
/carpeta-front/react/react/src/package-lock.json
/carpeta-logic/src/main/resources/carpeta_genapp_ca.properties
/carpeta-logic/src/main/resources/carpeta_genapp_en.properties
/carpeta-logic/src/main/resources/carpeta_genapp_es.properties
/carpeta-logic/src/main/resources/genapp_ca.properties
/carpeta-logic/src/main/resources/genapp_en.properties
/carpeta-logic/src/main/resources/genapp_es.properties
/carpeta-pluginsib/pluginsib-carpetafront/sistra/plugin.properties
/carpeta-back/src/main/resources/carpeta_genapp_ca.properties
/carpeta-back/src/main/resources/carpeta_genapp_en.properties
/carpeta-back/src/main/resources/carpeta_genapp_es.properties
/carpeta-back/src/main/resources/genapp_ca.properties
/carpeta-back/src/main/resources/genapp_en.properties
/carpeta-back/src/main/resources/genapp_es.properties
/carpeta-back/src/main/resources/logicmissatges_ca.properties
/carpeta-back/src/main/resources/logicmissatges_en.properties
/carpeta-back/src/main/resources/logicmissatges_es.properties
/carpeta-back/src/main/webapp/WEB-INF/jsp/moduls/menu_admin.jsp
/carpeta-back/src/main/webapp/WEB-INF/jsp/moduls/menu_user.jsp
/scripts/bbdd/oracle/create_db.sql
/scripts/bbdd/oracle/drop_db.sql
/scripts/sqlgenerator/01_sequences.sql
/scripts/sqlgenerator/02_tables.sql
/scripts/sqlgenerator/03_constraints.sql
/scripts/sqlgenerator/04_indexes.sql
/scripts/sqlgenerator/06_grants.sql
/scripts/sqlgenerator/create_schema.sql
/scripts/sqlgenerator/drop_schema.sql
/carpeta-front/react/dist/51620ce6389d6f664748a17c4bd1d90f.png
/carpeta-front/react/dist/b8bc9afa159f448fcce1dd4ff3a2787f.png
/carpeta-front/react/dist/ed1c36a7c956b395e966575a93d19e45.jpg
/carpeta-front/react/react/dist/index.html
/carpeta-front/react/react/dist/reactjs_main.js
/carpeta-pluginsib/pluginsib-carpetafront/sistra/src/main/resources/webresourcesistra/carpeta/backup
/carpeta-pluginsib/pluginsib-carpetafront/dadespersonalsreact/react/node_modules
/carpeta-pluginsib/pluginsib-carpetafront/dadespersonalsreact/react/package-lock.json
/carpeta-pluginsib/pluginsib-carpetafront/dadespersonalsreact/react/readme.txt
/carpeta-pluginsib/pluginsib-carpetafront/dadespersonalsreact/react/src/App.js
/genapp/lastconfig.properties
/carpeta-front/react/dist
/carpeta-front/react/node_modules
/deps.bat
/front.bat
/genapp.bat
/genapp/genapp.bat
/genapp
