# Excloure del repositori
# Directoris de resultat del Maven
target/
# Fitxers de projecte de Eclipse
.classpath
.project
.settings/
# Fitxers de projecte de IntelliJ IDEA
*.iml
.idea/
# Fitxers de projecte de Netbeans
nb-configuration.xml
/carpeta-front/react/react/build.bat
/carpeta-front/react/react/node_modules
/carpeta-front/react/react/build
/carpeta-front/react/react/package-lock.json
/carpeta-front/react/react/public/package-lock.json
/carpeta-front/react/react/src/package-lock.json
/carpeta-logic/src/main/resources/carpeta_genapp_ca.properties
/carpeta-logic/src/main/resources/carpeta_genapp_en.properties
/carpeta-logic/src/main/resources/carpeta_genapp_es.properties
/carpeta-logic/src/main/resources/genapp_ca.properties
/carpeta-logic/src/main/resources/genapp_en.properties
/carpeta-logic/src/main/resources/genapp_es.properties
/carpeta-pluginsib/pluginsib-carpetafront/sistra/plugin.properties
/carpeta-back/src/main/resources/carpeta_genapp_ca.properties
/carpeta-back/src/main/resources/carpeta_genapp_en.properties
/carpeta-back/src/main/resources/carpeta_genapp_es.properties
/carpeta-back/src/main/resources/genapp_ca.properties
/carpeta-back/src/main/resources/genapp_en.properties
/carpeta-back/src/main/resources/genapp_es.properties
/carpeta-back/src/main/resources/logicmissatges_ca.properties
/carpeta-back/src/main/resources/logicmissatges_en.properties
/carpeta-back/src/main/resources/logicmissatges_es.properties
/carpeta-back/src/main/webapp/WEB-INF/jsp/moduls/menu_admin.jsp
/carpeta-back/src/main/webapp/WEB-INF/jsp/moduls/menu_user.jsp
/scripts/bbdd/oracle/create_db.sql
/scripts/bbdd/oracle/drop_db.sql
/scripts/sqlgenerator/01_sequences.sql
/scripts/sqlgenerator/02_tables.sql
/scripts/sqlgenerator/03_constraints.sql
/scripts/sqlgenerator/04_indexes.sql
/scripts/sqlgenerator/06_grants.sql
/scripts/sqlgenerator/create_schema.sql
/scripts/sqlgenerator/drop_schema.sql
/carpeta-front/react/dist/51620ce6389d6f664748a17c4bd1d90f.png
/carpeta-front/react/dist/b8bc9afa159f448fcce1dd4ff3a2787f.png
/carpeta-front/react/dist/ed1c36a7c956b395e966575a93d19e45.jpg
/carpeta-front/react/react/dist/index.html
/carpeta-front/react/react/dist/reactjs_main.js
/carpeta-pluginsib/pluginsib-carpetafront/sistra/src/main/resources/webresourcesistra/carpeta/backup
/carpeta-pluginsib/pluginsib-carpetafront/dadespersonalsreact/react/node_modules
/carpeta-pluginsib/pluginsib-carpetafront/dadespersonalsreact/react/package-lock.json
/carpeta-pluginsib/pluginsib-carpetafront/dadespersonalsreact/react/readme.txt
/carpeta-pluginsib/pluginsib-carpetafront/dadespersonalsreact/react/src/App.js
/genapp/lastconfig.properties
/carpeta-front/react/dist
/carpeta-front/react/node_modules
/deps.bat
/front.bat
/genapp.bat
/genapp/genapp.bat
/genapp
/dependencies.txt
/scripts/bbdd/genappbase.sql
/scripts/bbdd/postgresql/nouplugin.sql
/carpeta-front/react/package-lock.json
/scripts/config/carpeta-mail-service.xml
/carpeta-pluginsib/pluginsib-carpetafront/dadeslogin/react/node_modules
/carpeta-pluginsib/pluginsib-carpetafront/pinbalpolicia/react/node_modules
/carpeta-pluginsib/pluginsib-carpetafront/dadeslogin/holder.html
/carpeta-pluginsib/pluginsib-carpetafront/dadeslogin/react/package-lock.json
/carpeta-pluginsib/pluginsib-carpetafront/dadeslogin/react/readme.txt
/carpeta-pluginsib/pluginsib-carpetafront/pinbalpolicia/holder.html
/carpeta-pluginsib/pluginsib-carpetafront/pinbalpolicia/react/package-lock.json
/carpeta-pluginsib/pluginsib-carpetafront/pinbalpolicia/react/readme.txt
/carpeta-back/src/main/java/es/caib/carpeta/back/controller/all/PublicController.java
/carpeta-back/src/main/webapp/WEB-INF/jsp/all/homepublic.jsp
/carpeta-pluginsib/pluginsib-carpetafront/apisistrav1
/carpeta-pluginsib/pluginsib-carpetafront/reprendretramitsistra/plugin.properties
/carpeta-api-client-generator
/carpeta-api-client
/carpeta-pluginsib/pluginsib-carpetafront/notib-client-generator
/carpeta-pluginsib/pluginsib-carpetafront/notib-api-client-v1
/carpeta-apodera/connexio.properties
/carpeta-apodera/Casos de Prueba
/carpeta-apodera/soapui
/carpeta-apodera/target
/carpeta-pluginsib/pluginsib-carpetafront/pinbalayudasubvenciones/react/node_modules
/carpeta-pluginsib/pluginsib-carpetafront/pinbalayudasubvenciones/react/package-lock.json
/carpeta-pluginsib/pluginsib-carpetafront/pinbalayudasubvenciones/react/readme.txt
/carpeta-pluginsib/pluginsib-carpetafront/pinbalayudasubvenciones/plugin.properties
/carpeta-pluginsib/pluginsib-carpetafront/pinbalfamilia/react/node_modules
/carpeta-pluginsib/pluginsib-carpetafront/pinbalfamilia/react/package-lock.json
/carpeta-pluginsib/pluginsib-carpetafront/pinbalfamilia/react/readme.txt
/carpeta-pluginsib/pluginsib-carpetafront/pinbalfamilia/plugin.properties
/carpeta-pluginsib/pluginsib-carpetafront/pinbalcontrataciones/react/node_modules
/carpeta-pluginsib/pluginsib-carpetafront/pinbalcontrataciones/react/package-lock.json
/carpeta-pluginsib/pluginsib-carpetafront/pinbalcontrataciones/react/readme.txt
/carpeta-pluginsib/pluginsib-carpetafront/pinbalcontrataciones/.vscode
/carpeta-pluginsib/pluginsib-carpetafront/pinbalcontrataciones/plugin.properties
/carpeta-pluginsib/pluginsib-carpetafront/pinbaldiscapacidad/react/node_modules
/carpeta-pluginsib/pluginsib-carpetafront/pinbaldiscapacidad/react/package-lock.json
/carpeta-pluginsib/pluginsib-carpetafront/pinbaldiscapacidad/react/readme.txt
/carpeta-pluginsib/pluginsib-carpetafront/pinbaldiscapacidad/.vscode
/carpeta-pluginsib/pluginsib-carpetafront/pinbaldiscapacidad/plugin.properties
/carpeta-api-client
/carpeta-api-client-generator
/carpeta-pluginsib/pluginsib-carpetafront/pinbalconvivencia/react/node_modules
/carpeta-pluginsib/pluginsib-carpetafront/pinbalconvivencia/react/package-lock.json
/carpeta-pluginsib/pluginsib-carpetafront/pinbalconvivencia/react/readme.txt
/carpeta-pluginsib/pluginsib-carpetafront/pinbalconvivencia/plugin.properties
/carpeta-ws
/carpeta-front/src/main/webapp/src/assets
/carpeta-front/src/main/webapp/src
/carpeta-api-externa-client/.swagger-codegen-ignore
/carpeta-api-externa-client/.travis.yml
/carpeta-api-externa-client/build.gradle
/carpeta-api-externa-client/build.sbt
/carpeta-api-externa-client/git_push.sh
/carpeta-api-externa-client/gradle.properties
/carpeta-api-externa-client/gradlew
/carpeta-api-externa-client/gradlew.bat
/carpeta-api-externa-client/settings.gradle
/carpeta-api-externa-client/gradle
/carpeta-api-externa-client/target
/carpeta-api-externa-client/.swagger-codegen
/carpeta-front/reactnative/CarpetaApp/package-lock.json
/carpeta-pluginsib/pluginsib-carpetafront/pinbalmatricula/plugin.properties
/carpeta-pluginsib/pluginsib-carpetafront/pinbalmatricula/react/node_modules/
/carpeta-pluginsib/pluginsib-carpetafront/pinbalmatricula/react/package-lock.json
/carpeta-pluginsib/pluginsib-carpetafront/reprendretramitsistra/plugin.properties
/carpeta-pluginsib/pluginsib-carpetafront/reprendretramitsistra/react/node_modules/
/carpeta-pluginsib/pluginsib-carpetafront/reprendretramitsistra/react/package-lock.json
/carpeta-pluginsib/pluginsib-carpetafront/regweb32/react/node_modules/
/carpeta-pluginsib/pluginsib-carpetafront/regweb32/react/package-lock.json
/carpeta-pluginsib/pluginsib-carpetafront/regwebDetallComponent/react/node_modules
/carpeta-pluginsib/pluginsib-carpetafront/regwebDetallComponent/react/package-lock.json
/carpeta-front/reactnative/CarpetaExpoApp/package-lock.json
/carpeta-front/reactnative/CarpetaExpoApp/node_modules
/carpeta-front/reactnative/CarpetaExpoApp/.expo/web
/carpeta-front/reactnative/CarpetaExpoApp/android
/carpeta-front/reactnative/CarpetaExpoApp/certificat_anadal
/carpeta-front/reactnative/CarpetaExpoApp/binaris
/carpeta-pluginsib/pluginsib-carpetafront/sistra/react/node_modules
/carpeta-pluginsib/pluginsib-carpetafront/sistra/react/package-lock.json
/carpeta.bat
/plugin.properties
/copiar.bat
/carpeta-pluginsib/pluginsib-carpetafront/notib/react/node_modules
/carpeta-pluginsib/pluginsib-carpetafront/notib/react/package-lock.json
/carpeta-pluginsib/pluginsib-carpetafront/notificacionssistra/react/node_modules/
/carpeta-pluginsib/pluginsib-carpetafront/notificacionssistra/react/package-lock.json
/scripts/genapp/genapp.log
/scripts/genapp/lastconfig.properties
