/.vscode/
ios_apple_store_info.txt
ios_token_github.txt
Publicar .IPA al App Store en mode proves (TestFlight) i producció.pdf
submit_to_apple_store.txt
AuthKey_2LWLJHW7VS.p8
submit_to_apple_store_ios.txt
submit_to_apple_store_ios_passwords.txt
submit_to_play_store_android.txt
Generar build per iOS (.IPA) amb Expo.pdf