# Class => org.fundaciobit.pluginsib.carpetafront.pinbalayudas.PinbalAyudasCarpetaFrontPlugin

# Connexió
es.caib.carpeta.pluginsib.carpetafront.pinbalayudas.baseurl=[=SP["es.caib.carpeta.pluginsib.carpetafront.dadespersonals.pinbal.baseurl"]]
es.caib.carpeta.pluginsib.carpetafront.pinbalayudas.username=[=SP["es.caib.carpeta.pluginsib.carpetafront.dadespersonals.pinbal.username"]]
es.caib.carpeta.pluginsib.carpetafront.pinbalayudas.password=[=SP["es.caib.carpeta.pluginsib.carpetafront.dadespersonals.pinbal.password"]]

# Informació per la sol·licitud
es.caib.carpeta.pluginsib.carpetafront.pinbalayudas.codicertificat=SVDCCAACPASWS01

es.caib.carpeta.pluginsib.carpetafront.pinbalayudas.codiprocediment=CODSVDR_GBA_20121107
es.caib.carpeta.pluginsib.carpetafront.pinbalayudas.finalitat=Consulta estar al corrent de pagament a CAIB
es.caib.carpeta.pluginsib.carpetafront.pinbalayudas.identificadorsolicitant=S0711001H
es.caib.carpeta.pluginsib.carpetafront.pinbalayudas.unitattramitadora=Servei d'escolarització

# Datos Específicos Sol·licitud
es.caib.carpeta.pluginsib.carpetafront.pinbalayudas.codigoprovincia=07
es.caib.carpeta.pluginsib.carpetafront.pinbalayudas.codigocomunidadautonoma=04

# Necessari en DEV i PRE. NO es fan cridades reals sinó d,un joc de proves
# Exemples:   - 30000056Y, FUSTER
#             - 41107605G, JAUME
es.caib.carpeta.pluginsib.carpetafront.pinbalayudas.testnif=30000056Y
es.caib.carpeta.pluginsib.carpetafront.pinbalayudas.testsurname=FUSTER

# Common
es.caib.carpeta.pluginsib.carpetafront.pinbalayudas.development=true
