# Class => org.fundaciobit.pluginsib.carpetafront.pinbalpolicia.PinbalPoliciaCarpetaFrontPlugin


es.caib.carpeta.pluginsib.carpetafront.pinbalpolicia.baseurl=[=SP["es.caib.carpeta.pluginsib.carpetafront.dadespersonals.pinbal.baseurl"]]
es.caib.carpeta.pluginsib.carpetafront.pinbalpolicia.username=[=SP["es.caib.carpeta.pluginsib.carpetafront.dadespersonals.pinbal.username"]]
es.caib.carpeta.pluginsib.carpetafront.pinbalpolicia.password=[=SP["es.caib.carpeta.pluginsib.carpetafront.dadespersonals.pinbal.password"]]

es.caib.carpeta.pluginsib.carpetafront.pinbalpolicia.codicertificat=SVDDGPCIWS02

es.caib.carpeta.pluginsib.carpetafront.pinbalpolicia.codiprocediment=CODSVDR_GBA_20121107
es.caib.carpeta.pluginsib.carpetafront.pinbalpolicia.finalitat=Baremacions per el proces d'escolaritzacio
es.caib.carpeta.pluginsib.carpetafront.pinbalpolicia.identificadorsolicitant=S0711001H
es.caib.carpeta.pluginsib.carpetafront.pinbalpolicia.unitattramitadora=Servei d'escolarització
		

# Necessari en DEV i PRE. NO es fan cridades reals sinó d,un joc de proves
# Exemples:   - 30000056Y, FUSTER
#             - 41107605G, JAUME
es.caib.carpeta.pluginsib.carpetafront.pinbalpolicia.testnif=30000056Y
es.caib.carpeta.pluginsib.carpetafront.pinbalpolicia.testsurname=FUSTER

es.caib.carpeta.pluginsib.carpetafront.pinbalpolicia.development=true