# Class => org.fundaciobit.pluginsib.carpetafront.notib.NotibCarpetaFrontPlugin

# Common
es.caib.carpeta.pluginsib.carpetafront.notib.development=true
es.caib.carpeta.pluginsib.carpetafront.notib.usenotibapi=true


#
# Notificacions CAIB: NOTIB
es.caib.carpeta.pluginsib.carpetafront.notib.url=[=SP["es.caib.carpeta.pluginsib.carpetafront.notib.url"]]
es.caib.carpeta.pluginsib.carpetafront.notib.user=[=SP["es.caib.carpeta.pluginsib.carpetafront.notib.user"]]
es.caib.carpeta.pluginsib.carpetafront.notib.pass=[=SP["es.caib.carpeta.pluginsib.carpetafront.notib.pass"]]


# Notificacions Estatals
es.caib.carpeta.pluginsib.carpetafront.notib.notificaciones.url=https://sede.administracion.gob.es/carpeta/notificaciones/notifica/consultaNotificaciones.htm

