# Class => es.caib.carpeta.pluginsib.carpetafront.certificats.CertificatsCarpetaFrontPlugin



es.caib.carpeta.pluginsib.carpetafront.certificats.active=1,2


es.caib.carpeta.pluginsib.carpetafront.certificats.1.url=http://localhost:8080/carpetaapi/externa
es.caib.carpeta.pluginsib.carpetafront.certificats.1.username=carpetaapp
es.caib.carpeta.pluginsib.carpetafront.certificats.1.password=carpetaapp


es.caib.carpeta.pluginsib.carpetafront.certificats.2.url=http://localhost:8080/carpetaapi/externa
es.caib.carpeta.pluginsib.carpetafront.certificats.2.username=carpetaapp
es.caib.carpeta.pluginsib.carpetafront.certificats.2.password=carpetaapp

