body {
  padding-top: 5rem;
  font: normal 110% 'Bariol Regular', Arial, Helvetica, sans-serif;
  color: #333; 
  background-color: #eaeaea;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}


@media only screen and (min-width : 401px) and (max-width : 480px) {
.logoGovern {
    margin-right: 10px !important;
    margin-left: 10px !important;
}
}

@media only screen and (min-width : 200px) and (max-width : 400px) {
.logoGovern {
    margin-right: 5px !important;
    margin-left: 5px !important;
}
.navbar-brand {
    font-size: 1rem !important; 
}
.starter-template {
    padding: 1rem !important;
}
.tituloLopd{
	font-size: 1rem !important;
}
.lopd{
	font-size: 0.8rem !important;
}
/*.contenidoSoporte{*/
/*    width: 90% !important;*/
/*}*/
/*.contenidoSoporte.on {*/
/*	font-size: 0.9em !important;*/
/*}*/
/*.ayudaSoporte{*/
/*	padding-left: 20px !important;*/
/*}*/
.datosSoporte{
	padding-left: 30px !important;
	line-height: 1.5 !important;
}
.datosSoporte li{
	list-style: circle;
}
.navbar-nav.movil {
	padding-left: 20px !important;
}
}

/* Inicio dropdown hover */
.dropdown:hover>.dropdown-menu {
  display: block;
}
.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}
/* Fin dropdown hover */

/* Menu */
.bg-carpeta {
    background-color: #4dba79 !important;
    padding-left: 0px;
    padding-right: 0px;
}
.menuGovern{
	min-width: 400px;
}
.titulo h1{
	text-transform: uppercase;
	font-size: 1.2em !important;
	margin-bottom: 0px;
}
.subtitulo{
	font-size: 0.85em !important;
}
.subtituloMay{
	font-size: 0.85em !important;
	text-transform: uppercase;
}
.menuGovern span, strong{
	font-size: 1em;
}
.logoGovern{
	float: left;
	margin-right: 40px;
	margin-left: 40px;
}
/* Fin Menu */

/* Menú móvil */
.movil{
	margin-left: auto!important;
	padding-right: 20px;
}
.navbar-nav.movil{
	padding-top: 10px;
	padding-left: 40px;
}
/*.navbar-nav.movil li{*/
/*	!*border-top: 1px solid #ddd; *!*/
/*}*/

.movil li a:hover{
	color: #000 !important;
}
.nav-link.movil{
	color: #fff !important;
}
.marg0{
	margin: 0px;
}
.icono{
	opacity: 0.5;
    padding-bottom: 4px;
}
.iconoNegro{
    padding-bottom: 4px;
}
a.dropdown-item{
	background-color: #fff;
}
a.dropdown-item.movil:hover{
	color: #4dba79 !important;
	background-color: #fff;
}
/* Fin Menú móvil

/* Contenido */
.contenido {
    padding: 2em;
    background-color: #fff;
    min-height: 200px;
}
.contacto{
    padding: 2em 1em;
}
.btn-soporte {
	background-color: transparent;
	color: #4dba79;
	margin: 0px 0px 0px 4px;
	padding: 0px;
	cursor: pointer;
}
.btn-soporte:hover{
	color: #000;
}
.btn-soporte.focus,.btn-soporte:focus{
	box-shadow: 0 0 0 0px !important;
}

.datosSoporte{
	padding-left: 10%;
	line-height: 1.7;
	text-align: start;
}
.datosSoporte li{
	list-style: circle;
}
.dades a { 
	color: #4dba79; 
}
.dades a:hover,
.dades a:focus { 
	color: #000; 
	background-color: transparent; 
	text-decoration: none;
}

.migaPan{
	text-align: start;
}
.migaPan ul{
	padding-left: 0px;
}
.migaPan ul li{
	list-style: none;
}
/* Fin Contenido */

/* Pie */
.containerPie{
	/*padding-top: 2rem;*/
	margin-left: 20px;
	margin-right: 20px;
}
.containerPie p,
.containerPie ul,
.containerPie li { 
	display: inline-block; 
	vertical-align: middle; 
}
.governPie { 
	padding-top: 8px;
}
.governPie strong { 
	text-transform: uppercase; 
	padding-right: .5em; 
	white-space: nowrap;  
	font-size: 1.1em;
    line-height: 1.2em;
}
.opcionesPie{
	text-align: center;
	padding-top: 8px;
}
.opcionesPie li::before { 
	content: "|"; 
	}
.opcionesPie li:first-child::before { 
	content: ""; 
	}
.opcionesPie li a { 
	color: #000; 
	text-transform: uppercase; 
	padding: 0 .5em; 
}
.opcionesPie li a:hover,
.opcionesPie li a:focus,
.opcionesPie li a:active { 
	color: #4dba79; 
	background-color: transparent; 
	text-decoration: none;
}
.redesPie { 
	text-align: right; 
}
/* Fin Pie */

/* LOPD */
.lopd{
	text-align: start;
	padding-top: 1em;
}
.tituloLopd{
	font-size: 1.3rem;
}
/* Fin LOPD */

.page-link{
	color: #4dba79;
}
.page-item.active .page-link {
	background-color: #4dba79;
	border-color: #4dba79;
}
.page-link:focus, .page-link:hover {
	color: #000;
}

.izq{
	float: left;;
}
.der{
	float: right;
}

.numLista {
	font-size: 1.2em;
	text-align: left;
	padding-left: 0;
	width: 5%;
}
.verde{
	color: #3b8e5d;
}
.cajaRegistro{
	border-left: .25rem solid #5BC0DE!important;
}
.cajaTramite{
	border-left: .25rem solid #5CB85C!important;
}
.infoList{
	text-align: left;
	padding-left: 5%;
}
.listVerde{
	text-align: left;
	padding-left: 0;
}
.mt-20{
	margin-top: 20px !important;
}
.border-left-primary {
	border-left: .25rem solid #4e73df!important;
}
.border-left-success {
	border-left: .25rem solid #1cc88a!important;
}
.border-left-info {
	border-left: .25rem solid #36b9cc!important;
}
.border-left-warning {
	border-left: .25rem solid #f6c23e!important;
}
.border-left-danger {
	border-left: .25rem solid #e74a3b!important;
}
.dadesRegistre {
	list-style: circle;
	text-align: left;
	font-size: 0.9em;
	line-height: 1.5em;
}
.imatge {
	position: absolute;
	height: 20%;
	width: 20%;
}