body {
  padding-top: 5rem;
  font: normal 110% 'Bariol Regular', Arial, Helvetica, sans-serif;
  color: #333; 
  background-color: #eaeaea;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}


@media only screen and (min-width : 401px) and (max-width : 480px) {
.logoGovern {
    margin-right: 10px !important;
    margin-left: 10px !important;
}
}

@media only screen and (min-width : 200px) and (max-width : 400px) {
.logoGovern {
    margin-right: 5px !important;
    margin-left: 5px !important;
}
.navbar-brand {
    font-size: 1rem !important; 
}
.starter-template {
    padding: 1rem !important;
}
.tituloLopd{
	font-size: 1rem !important;
}
.lopd{
	font-size: 0.8rem !important;
}
.contenidoSoporte{
    width: 90% !important;
}
.contenidoSoporte.on {
	font-size: 0.9em !important;
}
.ayudaSoporte{
	padding-left: 20px !important;
}
.datosSoporte{
	padding-left: 30px !important;
	line-height: 1.5 !important;
}
.datosSoporte li{
	list-style: circle;
}
}

/* Inicio dropdown hover */
.dropdown:hover>.dropdown-menu {
  display: block;
}
.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}
/* Fin dropdown hover */

/* Menu */
.bg-carpeta {
    background-color: #4dba79 !important;
    padding-left: 0px;
    padding-right: 0px;
}
.menuGovern{
	min-width: 400px;
}
.titulo h1{
	text-transform: uppercase;
	font-size: 1.2em !important;
	margin-bottom: 0px;
}
.subtitulo{
	font-size: 0.85em !important;
}
.subtituloMay{
	font-size: 0.85em !important;
	text-transform: uppercase;
}
.menuGovern span, strong{
	font-size: 1em;
}
.logoGovern{
	float: left;
	margin-right: 40px;
	margin-left: 40px;
}
/* Fin Menu */

/* Menú móvil */
.movil{
	margin-left: auto!important;
	padding-right: 20px;
}
.navbar-nav.movil{
	padding-top: 10px;
	padding-left: 40px;
}
.navbar-nav.movil li{
	/*border-top: 1px solid #ddd; */
}

.movil li a:hover{
	color: #000 !important;
}
.nav-link.movil{
	color: #fff !important;
}
.marg0{
	margin: 0px;
}
.icono{
	opacity: 0.5;
    padding-bottom: 4px;
}
.iconoNegro{
    padding-bottom: 4px;
}
a.dropdown-item{
	background-color: #fff;
}
a.dropdown-item.movil:hover{
	color: #4dba79 !important;
	background-color: #fff;
}
/* Fin Menú móvil

/* Contenido */
.contenido {
    padding: 2em;
    background-color: #fff;
    min-height: 200px;
}
.contacto{
	display: flex;
    clear: both;
    max-width: 75em;
    padding: 2em 1em;
    margin: 0 auto;
}
.contacto > div[data-conf='suport'] { 
	width: 100%; 
	text-align: center; 
	}
.contacto > div[data-conf='suport'] button { 
	position: relative; 
	-webkit-appearance: slider-vertical;
}
.contacto > div[data-conf='suport'] button:hover { 
	cursor: pointer;
}
.contacto address { 
	display: inline; 
}
.soporte { 
	position: fixed; 
	z-index: 21; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	background-color: rgba(0,0,0,.7); 
	visibility: hidden;
    opacity: 0;
	}
.soporte.on {
	z-index: 2000;
	visibility: visible;
	opacity: 1;
	-webkit-transition: visibility 0 ease-out, opacity .3s ease-out;
	-moz-transition: visibility 0 ease-out, opacity .3s ease-out;
	-ms-transition: visibility 0 ease-out, opacity .3s ease-out;
	-o-transition: visibility 0 ease-out, opacity .3s ease-out;
	transition: visibility 0 ease-out, opacity .3s ease-out;
}
.soporte.off {
	z-index: 20;
	opacity: 0;
	-webkit-transition: opacity .3s ease-out;
	-moz-transition: opacity .3s ease-out;
	-ms-transition: opacity .3s ease-out;
	-o-transition: opacity .3s ease-out;
	transition: opacity .3s ease-out;
}
.botonAyuda { 
	position: relative; 
	position: relative; 
	color: #4dba79; 
	padding: 0; 
	background-color: transparent; 
}
.botonAyuda:hover,
.botonAyuda:focus { 
	color: #000; 
	background-color: transparent; 
}
.botonAyuda {
	-webkit-transition: color .2s ease-out;
	-moz-transition: color .2s ease-out;
	-ms-transition: color .2s ease-out;
	-o-transition: color .2s ease-out;
	transition: color .2s ease-out;
}
.contenidoSoporte{ 
	position: fixed; 
	z-index: 22; 
	top: 50%; 
	left: 50%; 
	width: 100%; 
	max-width: 30em; 
	max-height: 15em; 
	min-height: 10em; 
	padding: 1.5em 1em; 
	background-color: #fff; 
	transform: translate(-50%, -50%); 
	visibility: hidden; opacity: 0; 
	border-radius: 6px;
}
.contenidoSoporte.on {
	visibility: visible;
	opacity: 1;
	-webkit-transition: visibility 0 ease-out, opacity .3s ease-out;
	-moz-transition: visibility 0 ease-out, opacity .3s ease-out;
	-ms-transition: visibility 0 ease-out, opacity .3s ease-out;
	-o-transition: visibility 0 ease-out, opacity .3s ease-out;
	transition: visibility 0 ease-out, opacity .3s ease-out;
}
.ayudaSoporte{
	display: -webkit-inline-box;
	padding-left: 40px;
	font-size: 1.75em;
}
.datosSoporte{
	padding-left: 20%;
	line-height: 1.7;
	text-align: start;
}
.datosSoporte li{
	list-style: circle;
}
.dades a { 
	color: #4dba79; 
}
.dades a:hover,
.dades a:focus { 
	color: #000; 
	background-color: transparent; 
	text-decoration: none;
}
.botonera { 
	text-align: right; 
	margin-top: 1em; 
	margin-bottom: 0px;
	display: inline-block; 
	padding-left: .5em; 
}
.botonera ul{
	list-style: none;
}
.botonCerrar {
	background-color: #fff;
	border: none;
	line-height: 2em;
}
.botonCerrar span {
    color: #666;
}

.botonCerrar:hover,
.botonCerrar:focus,
.botonCerrar:active {
	background-color: #666;
}
.botonCerrar:hover span,
.botonCerrar:focus span,
.botonCerrar:active span {
    color: #fff;
}

.migaPan{
	text-align: start;
}
.migaPan ul{
	padding-left: 0px;
}
.migaPan ul li{
	list-style: none;
}
/* Fin Contenido */

/* Pie */
.containerPie{
	/*padding-top: 2rem;*/
	margin-left: 20px;
	margin-right: 20px;
}
.containerPie p,
.containerPie ul,
.containerPie li { 
	display: inline-block; 
	vertical-align: middle; 
}
.governPie { 
	padding-top: 8px;
}
.governPie strong { 
	text-transform: uppercase; 
	padding-right: .5em; 
	white-space: nowrap;  
	font-size: 1.1em;
    line-height: 1.2em;
}
.opcionesPie{
	text-align: center;
	padding-top: 8px;
}
.opcionesPie li::before { 
	content: "|"; 
	}
.opcionesPie li:first-child::before { 
	content: ""; 
	}
.opcionesPie li a { 
	color: #000; 
	text-transform: uppercase; 
	padding: 0 .5em; 
}
.opcionesPie li a:hover,
.opcionesPie li a:focus,
.opcionesPie li a:active { 
	color: #4dba79; 
	background-color: transparent; 
	text-decoration: none;
}
.rss span { 
	display: inline-block; 
	vertical-align: middle; 
}
.rss svg { 
	display: inline-block; 
	width: .7em; 
	height: .7em; 
	vertical-align: middle; 
}
.rss path { 
	fill: #000000; 
}
.rss:hover path,
.rss:focus path,
.rss:active path { fill: #4dba79; }
.redesPie { 
	text-align: right; 
}
a.botonRed { 
	display: inline-block; 
	width: 2.5em; 
	height: 2.5em; 
	margin-right: .2em; 
	border: .2em solid #333; 
	border-radius: 2em; 
	will-change: border-color; 
}
a.botonRed svg { 
	transform: scale(.7, .7); 
}
a.botonRed path { 
	fill: #333; 
}
a.botonRed span { 
	position: fixed; 
	top: -999em; 
	left: -999em; 
}
a.botonRed:hover,
a.botonRed:focus,
a.botonRed:active { 
	background-color: #4dba79; 
	border-color: #4dba79; 
}
a.botonRed:hover path,
a.botonRed:focus path,
a.botonRed:active path { 
	fill: #fff; 
}
a.botonRed {
	-moz-transition: background-color .2s ease-out, border-color .2s ease-out;
	-webkit-transition: background-color .2s ease-out, border-color .2s ease-out;
	-o-transition: background-color .2s ease-out, border-color .2s ease-out;
	-ms-transition: background-color .2s ease-out, border-color .2s ease-out;
	transition: background-color .2s ease-out, border-color .2s ease-out;
}
/* Fin Pie */

/* LOPD */
.lopd{
	text-align: start;
	padding-top: 1em;
}
.tituloLopd{
	font-size: 1.75rem;
}
/* Fin LOPD */