@charset "utf-8";

/* enlaces.select */

div.imc-select { display: inline-block; width: 100%; }
	div.imc-select a.imc-select { overflow: hidden; display: inline-block; position: relative; height: 2em; color: #626A72; padding: .2em 2em 0 .2em; background-color: #fff; border: 3px solid #ccc; }
	div.imc-select a.imc-select:hover { border-color: #999; }
	div.imc-select a.imc-select:focus { background-color: #f9f9e8; border-color: #333; }
		div.imc-select a.imc-select span { overflow: hidden; display: inline-block; white-space: nowrap; margin-right: 1.5em; }

div.imc-select a.imc-select::before {
	content: "";
	display: block;
	position: absolute;
	top: .4em;
	right: .5em;
	width: 1em;
	height: 1em;
	background: transparent url(../imgs/icones/ico_item.svg) no-repeat top left / auto .7em;
	transform: rotate(90deg);
	opacity: .4;
}

div.imc-select a.imc-select:hover::before {
	opacity: .6;
}

div.imc-select a.imc-select:focus::before {
	opacity: .8;
}

div.imc-select a.imc-select {
	-moz-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}

div.imc-select a.imc-select::before {
	-moz-transition: opacity .3s linear;
	-webkit-transition: opacity .3s linear;
	-ms-transition: opacity .3s linear;
	-o-transition: opacity .3s linear;
	transition: opacity .3s linear;
}

div.imc-select-off { display: none; }

/* enlaces.select -> opciones */

div.imc-opcions .imc-select-submenu { display: none; position: absolute; z-index: 1; top: 0; left: 0; min-width: 10em; background-color: #fff; border: 1px solid #B9BBBD; }

div.imc-opcions ul { overflow: auto; max-height: 20em; list-style: none; margin: 0 !important; }
	div.imc-opcions ul a { display: block; font-size: 1em; padding: .3em .5em; }
	div.imc-opcions ul a:hover
	,div.imc-opcions ul a.hover { background-color: #cc073c; }
	div.imc-opcions ul li.imc-select-seleccionat a { font-style: italic; color: #999; background-color: transparent; cursor: default; }

div.imc-opcions .imc-select-submenu {
	-moz-box-shadow: .2em .2em .5em rgb(150,150,150);
	-webkit-box-shadow: .2em .2em .5em rgb(150,150,150);
	-ms-box-shadow: .2em .2em .5em rgb(150,150,150);
	-o-box-shadow: .2em .2em .5em rgb(150,150,150);
	box-shadow: .2em .2em .5em rgb(150,150,150);
}
div.imc-opcions .imc-select-submenu.imc-opcions-superior {
	-moz-box-shadow: .2em -.2em .5em rgb(150,150,150);
	-webkit-box-shadow: .2em -.2em .5em rgb(150,150,150);
	-ms-box-shadow: .2em -.2em .5em rgb(150,150,150);
	-o-box-shadow: .2em -.2em .5em rgb(150,150,150);
	box-shadow: .2em -.2em .5em rgb(150,150,150);
}

.no-boxshadow div.imc-opcions .imc-select-submenu {
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color='#cccccc')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color='#cccccc');
}

.no-boxshadow div.imc-opcions .imc-select-submenu.imc-opcions-superior {
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=45, Color='#cccccc')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=45, Color='#cccccc');
}

ul.imc-select-nou { display: none; }

div.imc-el-index .imc-select-submenu  { }
div.imc-el-index ul { position: relative; max-height: 15em; margin: 0 !important; }

div.imc-opcions ol.imc-index-alfabet { list-style: none; padding: .3em; background-color: #f2f2f2; }
div.imc-opcions ol.imc-index-alfabet li { display: inline; }

	div.imc-opcions ol.imc-index-alfabet a { display: inline-block; width: 2em; height: 1.5em; text-align: center; padding: .2em 0; }
	div.imc-opcions ol.imc-index-alfabet a:hover,
	div.imc-opcions ol.imc-index-alfabet a:focus { background-color: #cc073c; }

div.imc-el-index ul a	{
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	-kthtml-transition: all .2s linear;
	transition: all .2s linear;
}
div.imc-el-index ul a.imc-alfabet-marca { color: #fff; background-color: #000; }

/* enlaces.select -> multiple */

div.imc-select-multiple { min-height: 2em; font:normal 1em Arial, Helvetica, sans-serif; color:#626A72; padding:0 0 0 .2em; background-color:#fff; border:1px solid #64A3AB; }
div.imc-select-multiple:hover { }
	div.imc-select-multiple input { vertical-align:top; border:0 !important; }
	div.imc-select-multiple input:hover { cursor:text; }
	
	div.imc-select-multiple div { position:absolute; z-index:1; top:200px; left:0; min-width:25em; max-width:30em; padding:.5em 0; background-color:#fff; border:1px solid #B9BBBD; }
	div.imc-select-multiple div ul { clear:both; overflow:auto; min-height:5em; max-height:10em; list-style:none; border-top:1px solid #B9BBBD; }
	div.imc-select-multiple div ul li { clear:both; overflow:hidden; width:inherit; padding:.3em 0; cursor:pointer; }
	div.imc-select-multiple div ul li:hover { background-color:#dedede; }
	div.imc-select-multiple div ul label { display:block; padding:0 .5em; }
	div.imc-select-multiple div ul input { float:left; cursor:pointer !important; }
	div.imc-select-multiple div ul span { display:block; float:left; font-size:1em; padding-left:.5em; cursor:pointer; }
	
	div.imc-select-multiple div {
		-moz-box-shadow: .2em .2em .5em rgb(150,150,150);
		-webkit-box-shadow: .2em .2em .5em rgb(150,150,150);
		-ms-box-shadow: .2em .2em .5em rgb(150,150,150);
		-o-box-shadow: .2em .2em .5em rgb(150,150,150);
		box-shadow: .2em .2em .5em rgb(150,150,150);
	}
	
	.no-boxshadow div.imc-select-multiple div {
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color='#cccccc')";
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color='#cccccc');
	}
	
	div.imc-select-multiple p { float:left; padding:.5em 0 0 .5em; margin-bottom:.5em; }
	div.imc-select-multiple a.imc-bt { float:right; padding:.2em .8em; margin-bottom:.5em; margin-right:.5em; }
	
	div.imc-select-multiple ul.imc-select-seleccionats { display:inline; list-style:none; }
		div.imc-select-multiple ul.imc-select-seleccionats li { display:inline-block; font-size:1em; white-space:nowrap; padding-top:.25em; padding-right:.5em; }
		div.imc-select-multiple ul.imc-select-seleccionats a { display:inline-block; position:relative; width:1.3em; height:1em; background:transparent url(../imgs/icones/select-multiple-esborra.gif) no-repeat center top; }
		div.imc-select-multiple ul.imc-select-seleccionats a:hover { background-image:url(../imgs/icones/select-multiple-esborra-over.gif); }
	
	div.imc-select-multiple input, div.imc-select-multiple input:focus {
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		-ms-box-shadow: none;
		-o-box-shadow: none;
		box-shadow: none;
		-moz-transition: none;
		-webkit-transition: none;
		-ms-transition: none;
		-o-transition: none;
		-kthtml-transition: none;
		transition: none;
	}
	
	div.imc-select-multiple {
		-moz-transition: all .3s linear;
		-webkit-transition: all .3s linear;
		-ms-transition: all .3s linear;
		-o-transition: all .3s linear;
		-kthtml-transition: all .3s linear;
		transition: all .3s linear;
	}
	
	div.imc-select-multiple-focus {
		background-color:#ffc;
	
		-moz-box-shadow: 0 0 .3em rgb(150,150,150);
		-webkit-box-shadow: 0 0 .3em rgb(150,150,150);
		-ms-box-shadow: 0 0 .3em rgb(150,150,150);
		-o-box-shadow: 0 0 .3em rgb(150,150,150);
		box-shadow: 0 0 .3em rgb(150,150,150);
		
		-moz-transition: all .3s linear;
		-webkit-transition: all .3s linear;
		-ms-transition: all .3s linear;
		-o-transition: all .3s linear;
		-kthtml-transition: all .3s linear;
		transition: all .3s linear;
	}

div.imc-select-deshabilitat a.imc-select,
div.imc-select-deshabilitat a.imc-select:hover,
div.imc-select-deshabilitat a.imc-select:focus { color: #999; background: none; background-color: #f8f8f8; border-color: #ccc; cursor: default; }

div.imc-select-lectura a.imc-select,
div.imc-select-lectura a.imc-select:hover,
div.imc-select-lectura a.imc-select:focus { background: none; background-color: #e0e0e0; }

/* text selector */

.imc-text-selector { overflow: hidden; overflow-y: auto; position: absolute; top: 0; left: 0; z-index: 2; min-width: 12em; max-height: 10em; background-color: #fff; border: 1px solid #f2f2f2; }
.imc-text-selector {
	-moz-box-shadow: .2em .2em .5em rgb(150,150,150);
	-webkit-box-shadow: .2em .2em .5em rgb(150,150,150);
	-ms-box-shadow: .2em .2em .5em rgb(150,150,150);
	-o-box-shadow: .2em .2em .5em rgb(150,150,150);
	box-shadow: .2em .2em .5em rgb(150,150,150);
}

.imc-text-selector.imc--superior {
	-moz-box-shadow: .2em -.2em .5em rgb(150,150,150);
	-webkit-box-shadow: .2em -.2em .5em rgb(150,150,150);
	-ms-box-shadow: .2em -.2em .5em rgb(150,150,150);
	-o-box-shadow: .2em -.2em .5em rgb(150,150,150);
	box-shadow: .2em -.2em .5em rgb(150,150,150);
}

.imc-text-selector ul { list-style: none; margin: 0 !important; }
.imc-text-selector li { padding: 0 !important; margin: 0 !important; }
.imc-text-selector a { display: block; padding: .4em .5em; cursor: pointer; }

.imc-text-selector .imc--seleccionat { color: #fff; background-color: #000; }

.imc-text-selector .imc-carregant { display: block; padding: .3em .5em; }
.imc-text-selector .imc-carregant::before {
	content: "";
	display: inline-block;
	width: 1em;
	height: 1em;
	vertical-align: middle;
	margin-right: .5em;
	border: .3em solid transparent;
	border-top-color: #000;
	border-bottom-color: #000; 
	opacity: .3;
	border-radius: 100%;
	-moz-animation-name: carregant;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-webkit-animation-name: carregant;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-o-animation-name: carregant;
	-o-animation-duration: 1s;
	-o-animation-iteration-count: infinite;
	-o-animation-timing-function: linear;
	animation-name: carregant;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@-moz-keyframes carregant {
	0% { -moz-transform: rotate(0deg); }
	100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes carregant {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@-o-keyframes carregant {
	0% { -o-transform: rotate(0deg); }
	100% { -o-transform: rotate(360deg); }
}
@keyframes carregant {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}


.imc-text-selector .imc-sense-resultats { display: block; padding: .3em .5em; }

.imc-text-selector .imc-sense-resultats::before {
	content: "";
	display: inline-block;
	width: 1em;
	height: 1em;
	vertical-align: middle;
	margin-right: .4em;
	background: transparent url(../imgs/icones/ico_error.svg) no-repeat center center / auto 100%;
}

/* input check */

.imc-input-check { overflow-y: hidden; display: inline-block; position: relative; vertical-align: middle; }
.imc-input-check input { position: absolute; top: -999em; left: -999em; visibility: hidden; opacity: 0; }
.imc-input-check label { display: block; cursor: pointer; padding-right: .5em; }

.imc-input-check label::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: -0.1em;
	width: 1em;
	height: 1em;
	margin-right: .5em;
	background: #bbb url() no-repeat center center / .5em auto;
}

.imc-input-check input:checked ~ label { color: #368355; }
.imc-input-check input:checked ~ label::before { background-color: #368355; background-image: url(../imgs/icones/ico_guarda.svg) }

.imc-input-check input:disabled ~ label { color: #999; }
.imc-input-check input:disabled ~ label::before { background-color: #999; }

/* input radio */

.imc-input-radio { overflow-y: hidden; display: inline-block; position: relative; vertical-align: middle; }
.imc-input-radio input { position: absolute; top: -999em; left: -999em; visibility: hidden; opacity: 0; }
.imc-input-radio label { display: block; cursor: pointer; padding-right: .5em; }

.imc-input-radio label::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: -0.2em;
	width: 1em;
	height: 1em;
	margin-right: .5em;
	border-radius: 50%;
	background: #bbb url() no-repeat center center / .5em auto;
} 

.imc-input-radio input:checked ~ label { color: #368355; }
.imc-input-radio input:checked ~ label::before { background-color: #368355; background-image: url(../imgs/icones/ico_input_radio.svg) }

.imc-input-radio input:disabled ~ label { color: #999; }
.imc-input-radio input:disabled ~ label::before { background-color: #999; }



fieldset.imc-element .imc-input-check label::before,
fieldset.imc-element .imc-input-radio label::before {
	margin-left: .3em;
}