@charset "utf-8";


.imc-forms-contenidor { width: 100%; padding: 3em 0 0 0; margin: 0; }

.imc-forms-cap,
.imc-navegacio,
aside { display: none; }
	
.imc-iframe-botonera { position: fixed; z-index: 2; top: 0; left: 0; width: 100%; height: 2.5em; text-align: right; padding: .3em 0 0 0; background-color: #d0d0d0; }
.imc-iframe-botonera ul { list-style: none; margin-right: 1em; }
.imc-iframe-botonera li { display: inline; }
.imc-iframe-botonera button { font-size: .9em; }

.imc-iframe-botonera button::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 1em;
	height: 1em;
	margin-right: .4em;
	background: transparent url() no-repeat center center / auto 1em;
}

.imc-iframe-botonera button.imc-bt-ta-guarda-i-nou::before { background-image: url(../imgs/icones/ico_afegix.svg); }
.imc-iframe-botonera button.imc-bt-ta-guarda::before { background-image: url(../imgs/icones/ico_guarda.svg); }
.imc-iframe-botonera button.imc-bt-ta-cancela::before { background-image: url(../imgs/icones/ico_cancela.svg); }

.imc-iframe-botonera button.imc-bt-ta-guarda-i-nou,
.imc-iframe-botonera button.imc-bt-ta-guarda { background-color: #4dba79; }

.imc-iframe-botonera button.imc-bt-ta-guarda-i-nou:hover,
.imc-iframe-botonera button.imc-bt-ta-guarda-i-nou:focus,
.imc-iframe-botonera button.imc-bt-ta-guarda:hover,
.imc-iframe-botonera button.imc-bt-ta-guarda:focus { background-color: #368355; }

.imc-iframe-botonera button.imc-bt-ta-cancela { margin-left: 1em; }
