body {
	background-color: #F8F8F8 !important;
}
a{
	color: #32814B;
}
a:hover{
	color: #000;
	text-decoration: none;
}
.h2, h2{
	font-size: 1.1em !important;
}

/* Botó color Carpeta */
.btn-primary.carpeta-btn {
	background-color: #32814B;
	border-color: #32814B;
	border: none !important;
	color: #ffffff !important;
}
.btn-primary.carpeta-btn:hover,
.btn-primary.carpeta-btn:focus,
.btn-primary.carpeta-btn:active{
	background-color: #000 !important;
	border: none #000 !important;
	outline: none !important;
	box-shadow: none !important;
}
/* Fi Botó color Carpeta */

.lh15{
	line-height:1.5
}
.margen-top-clave{
	padding-top: 3rem !important;
}

.container-contenido {
    margin-left: 0 !important;
}
img:hover {
    border: 0px;
}

.imc--sortir::before {
	background-image: url(../images/sortir.png);
	opacity: 1 !important;
}
.imc--tramits::before {
	background-image: url(../images/tramits.png);
	opacity: 1 !important;
}
.imc--registres::before {
	background-image: url(../images/registres.png);
	opacity: 1 !important;
}
.imc--notificacions::before {
	background-image: url(../images/notificacions.png);
	opacity: 1 !important;
}

.imc--llista--capses{
	box-sizing: border-box;
	padding-bottom: 0em;
}
.imc--capsa{
	background-color: #e9e9e9;
}
.card-title{
	font: normal 100% 'Noto Sans', 'TrebuchetMS', 'Trebuchet MS', Arial, Helvetica, sans-serif;
	vertical-align: baseline;
	align-self: center;
}
.imc--logoclave{ 
	background-image: url(../images/solicitar_clave_acceso_dgt.png); 
	background-repeat: no-repeat;
	width: 180px;
    height: 87px;
}
.imc--logowai{ 
	background-image: url(../images/wcag2AA.png); 
	background-repeat: no-repeat;
	width: 88px;
    height: 31px;
}
.imc--gestions::before { background-image: url(../images/folder.png); }
.imc--dades::before { background-image: url(../images/dades.PNG); }
.upper{
	text-transform: uppercase;
}
.clickable-row{
	cursor: pointer;
}
.imc-titol {
	/*padding-left: 6em;*/
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.imc-titol .imc--contingut {
	width: calc(100% - 8em);
	max-width: 1260px !important;
}
.imc-titol h5 span {
	font-weight: normal;
	color: #fff;
	text-transform: uppercase;
	font-size: 0.8em;
	padding-right: 1em;
}
.estilUsuari{
	font-weight: normal;
	color: #fff;
	text-transform: uppercase;
	padding-right: 1em;
}
.estilUsuari, .nivellAut { 
	font-size: 1rem;
}
.usuari{
	top: 2.5em;
	/*height: 2em;*/
}
.imc-icona{
    height: 2em;
    padding-right: 0.5em;
}
.capsaPlugin{
	height: 14rem;
}
.titolPlugin{
	display: flow-root;
	align-self: center;
}

.imc-continguts {
	width: calc(100% - 12em);
	margin: 5em auto 2em auto;
}
.boton-menu{
	background-color: transparent;
  font-size: 1.1em;
  font-weight: bold;
  color: #545454;
  text-transform: uppercase;
  padding: 0.7em 0.6em;
  border: none;
}
.boton-menu:hover{
  color: #cc073c;
}
.imc-separador{
	/*font-size: 0.750em;*/
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.imc-bt-rotate{
	transform: rotate(-90deg);
	width: 2em !important;
	background-color: transparent !important;
	float: right;
}
.verd-carpeta{
	background-color: #32814B;
}
.ponerMovil{
	display: none;
}
.fonsPlugin{
	background-color: #F8F8F8 !important;
}
.titol{
    text-transform: uppercase;
}
.imc-logo a.imc--goib {
	height: auto;
	background: none;
}
.imc-logo li a::before {
	content: none;
}
.imc-logo ul li a .imatgeMobil {
    filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.imc-logo ul li .imatgeMobil:hover {
    filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}
.alert1{
	border-color: blue;
	border-width: medium;
}
.alert2{
	border-color: orange;
	border-width: medium;
}
.alert3{
    border-color: red;
    border-width: medium;
}
.botoMenu{
	display: block;
	font-size: 1.1em;
	font-weight: bold;
	color: #545454;
	text-transform: uppercase;
	padding: 1em 0;
	width: 100%;
	text-align: justify;
	background-color: #ffffff;
}
.alert1menu{
	border: groove;
	border-color: blue;
	border-width: medium;
}
.alert2menu{
	border: groove;
	border-color: orange;
	border-width: medium;
}
.alert3menu{
	border: groove;
	border-color: red;
	border-width: medium;
}
.avis1{
	color:#0c5460;
	background-color:#d1ecf1;
	border-color:#bee5eb;
	border-radius: 4px;
}
.avis2{
	color:#856404;
	background-color:#fff3cd;
	border-color:#ffeeba;
	border-radius: 4px;
}
.avis3{
	color:#721c24;
	background-color:#f8d7da;
	border-color:#f5c6cb;
	border-radius: 4px;
}
.dropdown:hover > .dropdown-menu {
	display: block;
}
.dropdown > .dropdown-toggle:active {
	/*Without this, clicking will make it sticky*/
	pointer-events: none;
}
.mRapidGlobal{
	margin: 0 auto;
	width: 1270px;
	margin-bottom: 0em;
	/*height: -webkit-fill-available;*/
}
.menuRapid{
	border: 0px;
	color: #32814B;
	background-color: #F8F8F8;
}
.menuRapid:hover{
	color: #000;
	text-decoration: none;
}
.menuRapid:active:focus:visited{
	border: 0px;
	color: #000;
	text-decoration: none;
}
.navCarpeta{
	vertical-align: sub;
}
.submenuRapid{
	top: auto;
	left: auto;
}
.submenuRapid--item{
	width: auto;
	padding: 0.25rem 1rem;
}
.dropdown-toggle::after {
	vertical-align: 0em !important;
}
.cardSuport{
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}
.imc-bt-menubar { display: inline-block; height: 2em; padding-left: 2.7em; margin-right: 2em; vertical-align: middle;}
.imc-bt-menubar span { display: block; color: #fff; text-transform: uppercase; float: left;}

.imc-bt-menubar:hover,
.imc-bt-menubar:focus {
	color: #fff;
	background-color: transparent;
}
.logoMenuBar{
	margin-right: 0.5em;
	width: 20px;
	float: left;
}
.itemBar{
	vertical-align: text-top;
}
.iconaEnllas{
	max-width: 2em;
	opacity: .6;
}
.text-verd{
	display: contents;
	color: #32814B;
}
.botoSuport{
	color: #cc073c;
	padding: 0px;
	vertical-align: inherit;
	line-height: 1em;
	background-color: #fff;
	border: none;
}
.botoSuport:hover{
	color: #fff;
	background-color: #cc073c;
}
.modal-header .close {
	padding: 0;
	margin: 0;
}
.botoDialegVerd {
	background-color: #32814B;
	border-color: #32814B;
	border: none !important;
	color: #ffffff !important;
	padding: 0.2em 0.5em;
	border-radius: 4px;
}
.botoDialegVerd:hover {
	background-color: #000000;
}
.botoDialegVermell {
	background-color: #c30045;;
	border-color: #c30045;;
	border: none !important;
	color: #ffffff !important;
	padding: 0.2em 0.5em;
	border-radius: 4px;
}
.botoDialegVermell:hover {
	background-color: #000000;
}
.ui-widget{
	font: normal 100% 'Noto Sans', 'TrebuchetMS', 'Trebuchet MS', Arial, Helvetica, sans-serif;
}
.ui-draggable .ui-dialog-titlebar {
	font: normal 100% 'Noto Sans', 'TrebuchetMS', 'Trebuchet MS', Arial, Helvetica, sans-serif;
	background-color: #dc3545!important;
}
.ui-widget-overlay {
	opacity: .4;
}
.no-close .ui-dialog-titlebar-close {
	display: none;
}
.ui-dialog .ui-dialog-titlebar-close {
	display: none;
}
.ui-dialog .ui-dialog-titlebar {
	font: normal 100% 'Noto Sans', 'TrebuchetMS', 'Trebuchet MS', Arial, Helvetica, sans-serif;
	background-color: #32814B!important;
}
.noVisible{
	display: none;
}
.ui-dialog .ui-dialog-title {
	color: #fff;
}
.columna2Inici{
	float: right!important;
}
.col2peu{
	/*padding-left: 3rem!important;*/
	text-align-last: center;
}
.nivellAut{
	text-transform: none;
}
.padL-4-5{
	padding-left: 4.5em !important;
}
.colorVerd{
	color: #265D3C;
}
.alignCenter{
	align-self: center;
}
.lletraIdioma{
	font-size: 1em;
}

.loader {
	border: 16px solid #f3f3f3;
	border-top: 16px solid #32814B;
	border-radius: 50%;
	width: 130px;
	height: 130px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0%  { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.loaderOcult{
	display: none;
}
.centrat{
	text-align: -webkit-center;
}
.ajuda{
	display: grid !important;
}
.liAjuda{
	list-style: circle;
	display: list-item !important;
}
.mollaPa {
	margin-top: 0.5em;
	font-size: 1.2em;
}
.fixo{
	position: fixed;
	width: 100%;
	/*height: 3em;*/
	z-index: 5;
}
.espaiContingut {
	padding-top: 5em;
}
.titolCentrat{
	display: contents !important;
}
.ocult{
	display: none;
}

.imc-bt-xarxa img:hover {
     filter: opacity(0.8);
     -webkit-filter: opacity(0.8);
     -moz-filter: opacity(0.8);
}
a.imc-bt-xarxa:hover {
    background-color: #eee !important;
}
.enllasosPeu{
	text-align-last: center;
	width: 100%;
}
.mollaPa li a {
	color: #6B6B6B;
}
.imc--canviarEntitat::before {
	background-image: url(../images/canviarEntitat.png);
}
.imc-peu-govern, .imc-peu-opcions, .imc-peu-xarxes {
	width: 33%;
}
.mRapidGlobal {
	/*padding-left: 3.5em !important;*/
	width: calc(100% - 8em);
	padding-top: 1em;
	padding-bottom: 1em;
	max-width: 1260px;
}
.imc-peu {
	padding-top: 2em;
}


/* HomePage */
.homePage .titol.h5 { text-transform: none !important; }
.homePage ul { list-style:none;  }
.homePage .oi { margin-right: 5px; color: #32814B; font-size: 20px; }
.homePage ul .oi{margin-left:-25px;}
.homePage ul li { margin-left:25px; }
.homePage .imc--logoclave{ height: 100px; float:left; }
.homePage .opcionesAcceso { width: 320px; margin-left: 190px; margin-right: 20px; }
.homePage .carpeta-btn .oi {color:#fff; }
.homePage .carpeta-btn { font-size: 20px; padding: 12px 30px;}
#tramitacioModal .modal-title { color: #32814b; }
#tramitacioModal .alert { display:none; }
#iniciarTramitacioBtn { background-color:#32814b; border-color: #32814b; }
#iniciarTramitacioBtn:hover { background-color:#000000; border-color:#000000;}
#tramitacioModalBtn{ color: #32814b; }
#clauAnonima{width:50%;color:#666;padding:10px;}



/* RESPONSIVE */

/*Se aplican cuando el width es menor que 1410px*/
@media only screen and (max-width: 1410px), only screen and (max-device-width: 1410px) {
/*.mRapidGlobal {*/
/*	!*padding-left: 3.5em !important;*!*/
/*	width: calc(100% - 12em);*/
/*	padding-top: 1em;*/
/*	padding-bottom: 1em;*/
/*}*/
}

/*Se aplican cuando el width es menor que 1224px*/
@media only screen and (max-width: 1224px), only screen and (max-device-width: 1224px) {
body {
	font-size: 100% !important;
}
.imc-titol {
	min-height: 30px;
}
.imc-titol .imc--contingut {
	margin-left: 0em;
	font-size: 1.1em;
	/*top: .2em;*/
}
.imc-titol h1 span {
	font-size: 1.35em;
	min-font-size: 20px;
}
img {
	max-width: 100%;
}
}

/*Se aplican cuando el width es menor que 1128px*/
@media only screen and (max-width: 1128px), only screen and (max-device-width: 1128px) {
.mRapidGlobal{
	/*padding-left: 4em !important;*/
}
.opcionesAcceso {
	width: 220px !important;
}
}

/*Se aplican cuando el width es menor que 992px*/
@media only screen and (max-width: 992px), only screen and (max-device-width: 992px) {
body {
	font-size: 100% !important;
}
.imc-titol h1 span {
	font-size: 1.35em;
}
.botonCorto{
    display: none;
}
.movil{
	float: left !important;
}
.container {
	max-width: initial !important;
}
.pri-col-deta-reg{
	flex: 100% !important;
	max-width: 100% !important;
	padding: 0 !important;
}
.seg-col-deta-reg{
	flex: 100% !important;
	max-width: 100% !important;
	padding: 0 !important;
}
.quitarTablet{
	display: none;
}
.capsaMenu{
    min-height: 18rem !important;
}
.capsaPlugin{
	height: 15rem;
}
.opcionesAcceso {
	float: left;
	margin-left: 0px !important;
}
}

/*Se aplican cuando el width es menor que 768*/
@media only screen and (max-width : 767px), only screen and (max-device-width: 767px) {
body {
	font-size: 100% !important;
}
.imc-titol h1 span {
	font-size: 1.35em;
}
.columna2Inici{
	float: none!important;
	padding-left: 0px;
}
.botoAccedirCarpeta{
	margin-top: 30px;
	margin-bottom: 30px;
}
.col2peu{
	padding-left: 0rem!important;
}
.homePage .opcionesAcceso {
	width: auto;
}
.colorVerde{
	background-color: #4DBA79 !important;
	margin-left: 0px !important;
}
.movil li a:hover{
	background-color: #4DBA79 !important;
}
.colorVerde:hover{
	background-color: #4DBA79 !important;
}
.pieResponsive{
    display: list-item !important;
    list-style: none !important;
}
.elementPieResponsive{
    max-width: 100% !important;
    text-align: center !important;
	justify-content: center !important;
}
.quitarMovil{
	display: none;
}
.ponerMovil{
	display: inline;
}
.botonCorto{
	display: inline;
}
.navbar-nav.movil {
	width: 100%;
}
.dropdown-menu {
	float: none;
	padding: 0;
}
a.nav-link.movil:hover {
	 color: #000 !important;
}
a.dropdown-item.movil:hover {
	color: #4dba79 !important;
	background-color: #FFF !important;
}
.mr-auto {
	margin-left: 0 !important;
}
.p-3carpeta {
	padding-bottom: 1rem !important;
}
.marg0 {
	border: 0px !important;
}
.tablaRegistros {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
div.dataTables_wrapper div.dataTables_info {
	white-space: pre-line !important;
	padding-bottom: 1rem !important;
}
thead>tr>th.sorting {
	padding-right: 0 !important;
}
.subtituloMay {
	font-size: 0.8rem !important;
}
.margen-left-clave{
	padding-left: 15px !important;
}
.capsaMenu{
	min-height: 20rem !important;
}
.margen-top-clave{
	text-align-last: center;
}
.capsaPlugin{
	height: 16rem;
}
.padL-4-5 {
	padding-left: 3em !important;
}
/*#continguts {*/
/*	margin-top: 2em;*/
/*}*/
.fonsPlugin{
	padding-top: 0em !important;
}
.capsaPeu{
	margin-top: 5em;
}
.col-md-5 {
	max-width: 100%;
}
}

/*Se aplican cuando el width es menor que 692*/
@media only screen and (max-width : 692px), only screen and (max-device-width: 692px) {
body {
	font-size: 100% !important;
}
.imc-titol h1 {
	width: calc(100% - 10em) !important;
}
.imc-bt-menubar {
	margin-right: 0.5em;
}
.imc-bt-menubar span {
	display: none;
}
.boxGestio{
	max-width: 100% !important;
	flex: auto;
}
.capsaMenu{
	min-height: 5rem !important;
}
.menuRapidView{
	display: none;
}
.navbar-expand-sm .navbar-nav {
	-ms-flex-direction: row;
	flex-direction: row;
}
.homePage ul li {
	margin-left: 0px;
}
.capsaPlugin{
	height: 17rem;
}
.imc--autenticacio{
	display: table !important;
	padding-left: 1.5em !important;
	font-size: 0.7em !important;
}
.separdorAuten{
	display: none;
}
.estilUsuari{
	font-size: 0.8em !important;
}
.imc-titol h1 span {
	font-size: 1.6em !important;
}
.usuari {
	/*top: 2em !important;*/
}
#menuRapid{
	display: none;
}
}

/*Se aplican cuando el width es menor que 576*/
@media only screen and (min-width : 481px) and (max-width : 575px), only screen and (max-device-width: 575px) {
.capsaPlugin{
	height: 11rem;
}
.nivellAut{
	font-size: 0.7em;
}
.imc--contingut{
	font-size: 0.8em !important;
}
.imc--autenticacio{
	display: table !important;
	padding-left: 0.5em !important;
}
.imc-titol h1 {
	font-size: 1.3em !important;
}
.usuari {
	/*top: 2em !important;*/
	height: auto;
}
}

/*Se aplican cuando el width es menor que 480*/
@media only screen and (min-width : 401px) and (max-width : 480px), only screen and (max-device-width: 480px) {
body {
	/*padding-top: 4rem !important;*/
	font-size: 100% !important;
}
.logoGovern {
    margin-right: 10px !important;
    margin-left: 10px !important;
}
.imatgeGovern{
    width: 45px !important;
}
.navbar-toggler {
    padding: 0.25rem !important;
    font-size: 1rem !important;
}
.desactivarMovil{
	display: none !important;
}
.pieResponsive{
	display: list-item !important;
}
.breadcrumb{
	padding: 1rem 1rem 0.5rem 1rem !important;
	border-radius: 0 !important;
}
.containerPie{
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.navbar-expand-sm .navbar-nav {
	-ms-flex-direction: row;
	flex-direction: row;
}
}

/*Se aplican cuando el width es menor que 400*/
@media only screen and (min-width : 200px) and (max-width : 400px), only screen and (max-device-width: 400px) {
body {
	/*padding-top: 4rem !important;*/
	font-size: 100% !important;
}
.imc-titol h1 span {
	font-size: 1.35em;
}
.logoGovern {
    margin-right: 5px !important;
    margin-left: 5px !important;
}
.imatgeGovern{
    width: 40px !important;
}
.navbar-brand {
    font-size: 1rem !important;
}
.tituloLopd{
	font-size: 1rem !important;
}
.lopd{
	font-size: 0.8rem !important;
}
.datosSoporte{
	padding-left: 30px !important;
	line-height: 1.5 !important;
}
.datosSoporte li{
	list-style: circle !important;
}
.navbar-nav.movil {
	padding-left: 20px !important;
}
.navbar-toggler {
    padding: 0.25rem !important;
    font-size: 1rem !important;
}
.desactivarMovil{
	display: none !important;
}
.breadcrumb{
	padding: .35rem 0.6rem !important;
	border-radius: 0 !important;
}
.navbar-expand-sm .navbar-nav {
	-ms-flex-direction: row;
	flex-direction: row;
}
}
@media only screen and (max-device-width: 450px) {
	body {
		font-size: 200% !important;
	}
	.opcionesAcceso {
		width: auto !important;
	}
	.imatgeMobil{
		width: 50%;
	}
	.logo-govern{
		width: 70% !important;
	}
	.logoMenuBar {
		width: 40px !important;
	}
	.homePage .carpeta-btn {
		font-size: 30px;
		padding: 30px 30px;
	}
	.imc-peu .imc--contingut {
		flex-direction: column;
	}
	.imc-peu-govern, .imc-peu-opcions, .imc-peu-xarxes {
		width: 100%;
		font-size: 100%;
		text-align: center;
		padding-bottom: 1.5em;
	}
	.capsaPeu {
		margin-top: 0;
	}
	.imc-titol ul {
		right: 1em;
	}
	.modal-dialog {
		max-width: 700px;
	}
	.modal-body {
		padding: 3rem;
	}
	.estilUsuari {
		font-size: 1em !important;
	}
	.imc--autenticacio {
		font-size: 1.1em !important;
	}
	.col-md-4 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.capsaPlugin {
		height: 20rem;
	}
	.fonsPlugin {
		font-size: 150%;
	}
	.imc-peu{
		padding-top: 0;
	}
	#expirat, #dialog{
		height: auto;
	}
	.ui-dialog{
		height: auto !important;
	}
}

/* FI RESPONSIVE */
