



endpoint=https://pre-reaws.redsara.es/reaCXFServer/services/reaCXFWSv2

codiApp=MYAPP

organisme.dir3=A04003003 
organisme.denominacio=Gobierno de las Islas Baleares

nif.apoderado=12345678Z

# CERTIFICATE Token
authorization.ks.path=D:/dades/mykeystore.jks
authorization.ks.type=JKS
authorization.ks.password=keystore_password
authorization.ks.cert.alias=cert_alias
authorization.ks.cert.password=certificate_password

