# Class => org.fundaciobit.pluginsib.carpetafront.regweb3.Regweb3CarpetaFrontPlugin

# Common
es.caib.carpeta.pluginsib.carpetafront.regweb3.development=true


#
es.caib.carpeta.pluginsib.carpetafront.regweb3.url=http://localhost:8080/regweb3/ws/v3/RegWebAsientoRegistral
es.caib.carpeta.pluginsib.carpetafront.regweb3.user=caibapp
es.caib.carpeta.pluginsib.carpetafront.regweb3.pass=setpassword
es.caib.carpeta.pluginsib.carpetafront.regweb3.entidad=A04003003
es.caib.carpeta.pluginsib.carpetafront.regweb3.concsv.url=https://dev.caib.es/concsv/view.xhtml?hash=





