
a{
	color: #32814B;
}
a:hover{
	color: #000;
	text-decoration: none;
}

/* Botó color Carpeta */
.btn-primary.carpeta-btn {
	background-color: #32814B;
	border-color: #32814B;
	border: none !important;
	color: #ffffff !important;
}
.btn-primary.carpeta-btn:hover,
.btn-primary.carpeta-btn:focus,
.btn-primary.carpeta-btn:active{
	background-color: #000 !important;
	border: none #000 !important;
	outline: none !important;
	box-shadow: none !important;
}
/* Fi Botó color Carpeta */

.lh15{
	line-height:1.5
}
.margen-top-clave{
	padding-top: 3rem !important;
}

.imc--sortir::before {
	background-image: url(../files/sortir.png);
	opacity: 1 !important;
}
.imc--llista--capses{
	box-sizing: border-box;
}
.imc--capsa{
	background-color: #e9e9e9;
}
.card-title{
	font: normal 100% 'Noto Sans', 'TrebuchetMS', 'Trebuchet MS', Arial, Helvetica, sans-serif;
	vertical-align: baseline;
}