/* Document CSS */

/* formateig */

body, form, table, caption, tr, th, td, ul, ol, li, dl, dt, dd, img, p, header, h1, h2, h3, h4, h5, h6, object, iframe, legend, fieldset { font-size: 1em; list-style: none; margin: 0; padding: 0; outline: none; border: none; }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* scroll */

::-webkit-scrollbar {
    width: .5em;
}

::-webkit-scrollbar-track {
	margin: .3em;
    -webkit-border-radius: .5em;
    border-radius: .5em;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: .5em;
    border-radius: .5em;
    background: #cc073c;
}

::-webkit-scrollbar-thumb:window-inactive {
	opacity: .5;
}


/* generic */

@font-face {
	font-family: 'Bariol Regular';
	src: url('../fonts/Bariol_Regular.ttf');
}

html,
body { overflow: auto; overflow-x: hidden; }

body { font: normal 100% 'Bariol Regular',Arial,Helvetica,sans-serif; color: #333; background-color: #fff; }

p { line-height: 1.3em; }

a { color: #cc073c; text-decoration: none; padding: 0 .2em; will-change: color, background-color; }
a:hover,
a:focus { color: #fff; background-color: #cc073c; }

a {
	-webkit-transition: color .2s ease-out, background-color .2s ease-out;
	-moz-transition: color .2s ease-out, background-color .2s ease-out;
	-ms-transition: color .2s ease-out, background-color .2s ease-out;
	-o-transition: color .2s ease-out, background-color .2s ease-out;
	transition: color .2s ease-out, background-color .2s ease-out;
}

pre { font: normal 1.2em 'Bariol Regular',Arial,Helvetica,sans-serif; white-space: pre-wrap; }

/* botons */

.imc-bt { display: inline-block; color: #cc073c; vertical-align: middle; padding: .5em 1em; background-color: #fff; will-change: color, background-color; }
.imc-bt:hover,
.imc-bt:focus,
.imc-bt:active { color: #fff; background-color: #cc073c; }
.imc-bt {
	-webkit-transition: color .2s ease-out, background-color .2s ease-out;
	-moz-transition: color .2s ease-out, background-color .2s ease-out;
	-ms-transition: color .2s ease-out, background-color .2s ease-out;
	-o-transition: color .2s ease-out, background-color .2s ease-out;
	transition: color .2s ease-out, background-color .2s ease-out;
}
.imc-bt span { font-size: 1em; }

.imc-bt.imc--icona { display: flex; align-items: center; }
.imc-bt.imc--icona::before {
	content: "";
	display: inline-block;
	width: 2em;
	height: 1.7em;
	vertical-align: middle;
	margin-right: .7em;
	background: transparent url() no-repeat center center / auto 90%;
}
.imc-bt.imc--icona span { display: inline-block; vertical-align: middle; }

.imc-bt.imc--sortiu::before { background-image: url(../imgs/icones/ico_enrere.svg); opacity: .5; }
.imc-bt.imc--desau::before { background-image: url(../imgs/icones/ico_form_guarda.svg); opacity: .5; }


/* cap */

.imc-forms-contenidor { overflow: hidden; overflow-y: auto; width: 100%; height: calc(100% - 2em); min-width: 50em; padding-top: 2em; }

.imc-forms-cap {}

.imc-forms-cap .imc--marc { position: fixed; z-index: 10; top: 0; left: 0; width: 100%; padding: 0 1em; background-color: #cc073c; }
.imc-forms-cap .imc--marc ul { display: flex; }
.imc-forms-cap .imc--marc li { width: 50%; }
.imc-forms-cap .imc--marc li:last-child { text-align: right; }

.imc-forms-cap .imc--marc a { display: inline-block; height: 2em; color: #fff; text-transform: uppercase; padding: .2em 1em; background-color: #cc073c; }
.imc-forms-cap .imc--marc a:hover,
.imc-forms-cap .imc--marc a:focus { background-color: #000; }

.imc-forms-cap .imc--marc button { float: right; height: 2em; font-size: 1em; color: #fff; text-transform: uppercase; padding: .2em 1em; background-color: rgba(0,0,0,.5); }
.imc-forms-cap .imc--marc button:hover,
.imc-forms-cap .imc--marc button:focus { background-color: #000; }

.imc-forms-cap .imc--contingut { display: flex; flex-wrap: wrap; max-width: 86em; margin: .5em auto 0 auto; }

.imc-forms-cap h1 { width: calc(100% - 23em); font-weight: normal; padding: 1em 2em 1em; }
.imc-forms-cap h1 span { font-size: 1.6em; }
.imc-forms-cap h1 em { display: none; padding-left: 1em; }

.imc-forms-cap .imc--ajuda { width: 23em; text-align: right; padding: 1em 2em 1em;  }
.imc-forms-cap .imc--ajuda strong { font-weight: normal; color: #28555b; padding-right: .7em; }
.imc-forms-cap .imc--ajuda strong::before {
	content: "";
	display: inline-block;
	width: 2em;
	height: 2em;
	vertical-align: middle;
	margin-right: .5em;
	border-radius: 50%;
	background: #5bc0ce url(../imgs/icones/ico_info.svg) no-repeat center center / auto 1.2em;
}
.imc-forms-cap .imc--ajuda button { height: 2em; }

.imc-forms-cap .imc--ajuda.imc--desactivada strong { color: #666; }
.imc-forms-cap .imc--ajuda.imc--desactivada strong::before {
 background-color: #999;
}


.imc-forms-cap h2 { position: relative; width: 100%; padding: 0 2em; }
.imc-forms-cap h2 span { display: block; font-size: 1.1em; font-weight: normal; padding: .5em 1em .5em 5em; background-color: #e5e5e5; }
.imc-forms-cap h2 span::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 1.8em;
	width: 4em;
	height: 100%;
	vertical-align: middle;
	margin-right: .7em;
	background: #898989 url(../imgs/icones/ico_form.svg) no-repeat center center / auto 1.5em;
}

/* errors */

.imc-forms-errors { position: relative; max-width: 82em; padding: 1em 1em 1em 4em; margin: 1em 2em; background-color: #fff; border: 3px solid #edb2c7; }
.imc-forms-errors::before {
	content: "";
	display: block;
	position: absolute;
	top: 1em;
	left: 1em;
	width: 2em;
	height: 2em;
	margin-right: .7em;
	background: transparent url(../imgs/icones/ico_error.svg) no-repeat center center / auto 2em;
}

.imc-forms-errors p { font-weight: bold; line-height: 1.2em; }
.imc-forms-errors ul { margin-top: .4em; list-style: none; }
.imc-forms-errors li { margin-top: .3em;  }
.imc-forms-errors li:first-child { margin-top: 0; }
.imc-forms-errors li::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: .8em;
	height: 1em;
	margin-right: .5em;
	background: transparent url(../imgs/icones/ico_item.svg) no-repeat top left / auto 1em;
	opacity: .3;
}

.imc-forms-errors li a { display: inline-block; vertical-align: middle; }

/* form basic */

.imc-forms-formulari { margin: 0 2em; }

input { display: inline-block; font: normal 110% 'Bariol Regular',Arial,Helvetica,sans-serif; height: 2em; vertical-align: middle; padding: .2em .3em; background-color: #fff; border: 3px solid #cecdcd; will-change: border; }

input:hover { border-color: #999; }
input:focus { background-color: #f9f9e8; border-color: #333; }

input[type=radio],
input[type=checkbox] { height: auto; }

textarea { font: normal 110% 'Bariol Regular',Arial,Helvetica,sans-serif; padding: .2em .3em; background-color: #fff; border: 3px solid #cecdcd; will-change: border; }

textarea:hover { border-color: #999; }
textarea:focus { background-color: #f9f9e8; border-color: #333; }

input,
textarea {
	-webkit-transition: border-color .2s ease-out;
	-moz-transition: border-color .2s ease-out;
	-ms-transition: border-color .2s ease-out;
	-o-transition: border-color .2s ease-out;
	transition: border-color .2s ease-out;
}

button { display: inline-block; font: normal 110% 'Bariol Regular',Arial,Helvetica,sans-serif; color: #fff; vertical-align: middle; padding: .4em 1em; background-color: #cc073c; border:none; cursor: pointer; will-change: background-color; }
button:hover,
button:focus { background-color: #000; }
button {
	-webkit-transition: background-color .2s ease-out;
	-moz-transition: background-color .2s ease-out;
	-ms-transition: background-color .2s ease-out;
	-o-transition: background-color .2s ease-out;
	transition: background-color .2s ease-out;
}

select { display: inline-block; font: normal 110% 'Bariol Regular',Arial,Helvetica,sans-serif; height: 2em; vertical-align: middle; padding: .4em .5em; border: 3px solid #cc073c; will-change: border; }
select:hover,
select:focus { border-color: #000; }
select {
	-webkit-transition: border-color .2s ease-out;
	-moz-transition: border-color .2s ease-out;
	-ms-transition: border-color .2s ease-out;
	-o-transition: border-color .2s ease-out;
	transition: border-color .2s ease-out;
}
select option { padding: .7em 1em; }
select option:hover,
select option:focus { color: #fff; background-color: #cc073c; }
select option {
	-webkit-transition: color .2s ease-out, background-color .2s ease-out;
	-moz-transition: color .2s ease-out, background-color .2s ease-out;
	-ms-transition: color .2s ease-out, background-color .2s ease-out;
	-o-transition: color .2s ease-out, background-color .2s ease-out;
	transition: color .2s ease-out, background-color .2s ease-out;
}

/* form element */

.imc-form .imc-form-contingut { }


.imc-form h4 { clear: both; width: 100%; font-size: 1.1em; font-weight: normal; text-transform: uppercase; padding: 1em 0 .5em 0; margin: .5em 0 .1em 0; }

.imc-form h4.imc-seccio { overflow: hidden; width: 100%; }
.imc-form h4.imc-seccio span { display: block; padding: .2em 0; }
.imc-form h4.imc-seccio span.imc-se-marca { float: left; position: relative; top: -0.2em; width: 2em; height: 2em; text-align:center; padding-top: .3em; border: 1px solid rgba(204, 7, 60, .4); border-radius: 50%; }
.imc-form h4.imc-seccio span.imc-se-titol { width: 100%; padding-left: 2.6em; }

.imc-form p.imc-info { clear: both; width: 100%; margin: 0 0 1.2em 0; }

.imc-form div.imc-element,
.imc-form fieldset.imc-element { float: left; width: 16.6%; padding: .3em 0 .4em 0; }

.imc-form .imc-el-hidden { display: none; }

.imc-form .imc-el-etiqueta { padding: 0 .8em .2em .8em; }

.imc-form .imc-el-control { min-height: 2em; padding: 0 .8em; }

.imc-form .imc-el-control input[type=text],
.imc-form .imc-el-control input[type=number] { width: 100%; }

.imc-form .imc-el-control a.imc-select,
.imc-form .imc-el-control a.imc-select span { width: 100%; }

.imc-form .imc-el-control textarea { width: 100%; min-width: 100%; max-width: 100%; }

.imc-form .imc-el-control p.imc-el-control-info { display: inline-block; font-style: italic; padding: .2em 0 0 0 }

.imc-form .imc-element.imc-separador { float: none; clear: both; width: 100%; height: 1em; font-size: 1em; padding: 0; }

.imc-form .imc-element.imc-separador::before { content: ""; display: block; width: 100%; height: .5em; border-bottom: 1px solid #ccc;  }

.imc-form .imc-element.imc-sep-punt::before { border-bottom-style: dashed; }
.imc-form .imc-element.imc-sep-salt-carro { width: 100%; height: 1px; margin-bottom: 0; border-bottom: none; }
.imc-form .imc-element.imc-sep-salt-carro::before { border: none; }

.imc-form .imc-el-error input[type=text],
.imc-form .imc-el-error input[type=number],
.imc-form .imc-el-error input[type=date],
.imc-form .imc-el-error input[type=time],
.imc-form .imc-el-error textarea,
.imc-form .imc-el-error a.imc-select { border-color: #cc073c; }
.imc-form .imc-el-error .imc-el-etiqueta { color: #cc073c; }

.imc-form .imc-el-error input[type=text]:focus,
.imc-form .imc-el-error input[type=number]:focus,
.imc-form .imc-el-error input[type=date]:focus,
.imc-form .imc-el-error input[type=time]:focus,
.imc-form .imc-el-error textarea:focus,
.imc-form .imc-el-error a.imc-select:focus { border-color: #cc073c; }

.imc-form .imc-el-obligatori { color: #000; }
.imc-form .imc-el-obligatori .imc-el-etiqueta label::before {
	content: "";
	display: inline-block;
	position: relative;
	top: -.2em;
	vertical-align: middle;
	width: .7em;
	height: 1em;
	margin-right: .5em;
	background: transparent url(../imgs/icones/ico_obligatori.svg) no-repeat top left / auto .7em;
}
.imc-form span.imc-obligatori { color: #c00; padding-right: .3em; }

.imc-form input.imc-data-lectura,
.imc-form input.imc-hora-lectura { display: none; }
.imc-form span.imc-data-lectura { display: inline-block; width: 7em; font: italic 1em Arial, Helvetica, sans-serif; padding: .25em .5em .1em .5em; margin: 0 0 0 .2em; background: #e0e0e0 url(../imgs/ico-data.gif) no-repeat right center; border: 2px solid #ccc; }
.imc-form span.imc-hora-lectura { display: inline-block; width: 3em; font: italic 1em Arial, Helvetica, sans-serif; padding: .25em .5em .1em .5em; margin: 0 .1em 0 .2em; background-color: #e0e0e0; border: 2px solid #ccc; }

.imc-form .imc-el-2 { width: 33.3% !important; }
/*
.imc-form .imc-el-2 a.imc-select,
.imc-form .imc-el-2 a.imc-select span { width:14.4em; }
*/
.imc-form .imc-el-3 { width: 49.7% !important; }
/*
.imc-form .imc-el-3 a.imc-select,
.imc-form .imc-el-3 a.imc-select span { width:23.8em !important; }
*/
.imc-form .imc-el-4 { width: 66.3% !important; }
/*
.imc-form .imc-el-4 a.imc-select,
.imc-form .imc-el-4 a.imc-select span { width:33.2em !important; }
*/
.imc-form .imc-el-5 { width: 82.9% !important; }
/*
.imc-form .imc-el-5 a.imc-select,
.imc-form .imc-el-5 a.imc-select span { width:42.5em !important;; }
*/
.imc-form .imc-el-6 { width: 99.5% !important; }
/*
.imc-form .imc-el-6 a.imc-select,
.imc-form .imc-el-6 a.imc-select span { width:51.9em !important; }
*/
.imc-form .imc-el-ajuda { display: none; position: absolute; z-index: 5; top: 0; left: 0; width: 30em; color: #fff; padding: .3em 1em .5em; background-color: #3597d4; }
.imc-form .imc-el-ajuda-on { display: block; }

.imc-form .imc-el-ajuda::before {
	content: "";
	display: block;
	position: absolute;
	left: .8em;
	bottom: -0.3em;
	width: .6em;
	height: .6em;
	background-color: #3597d4;
	transform: rotate(45deg);
}

.imc-form .imc-el-ajuda.imc--dalt::before {
	top: -0.3em;
	bottom: auto;
}

.imc-form .imc-el-ajuda.imc--dreta::before {
	right: .8em;
	left: auto;
}

.imc-form .imc-el-ajuda-show {
	-moz-transition: all .3s linear;
	-webkit-transition: all .1s linear;
	-ms-transition: all .1s linear;
	-o-transition: all .1s linear;
	transition: all .1s linear;
}

.imc-form .imc-el-ajuda {
	-moz-box-shadow: .2em .2em .5em rgb(150,150,150);
	-webkit-box-shadow: .2em .2em .5em rgb(150,150,150);
	-ms-box-shadow: .2em .2em .5em rgb(150,150,150);
	-o-box-shadow: .2em .2em .5em rgb(150,150,150);
	box-shadow: .2em .2em .5em rgb(150,150,150);
}

.no-boxshadow .imc-form .imc-el-ajuda {
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color='#cccccc')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color='#cccccc');
}

.imc-form .imc-el-ajuda .imc-el-aj-pestanya { position:relative; }
.imc-form .imc-el-ajuda .imc-el-aj-pestanya {
	position:absolute; bottom:-0.25em; left:1em; width:.5em; height:.5em; background-color:#6a8147;
	-webkit-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);
}

.no-csstransforms .imc-form .imc-el-ajuda .imc-el-aj-pestanya {
	background:transparent url(../imgs/cueta.gif) no-repeat center bottom;
}

.imc-form .imc-el-ajuda .imc-el-aj-pestanya-dalt { top:-0.25em; bottom:0; }
.no-csstransforms .imc-form .imc-el-ajuda .imc-el-aj-pestanya-dalt {
	/*background:transparent url(../imgs/cueta_dalt.gif) no-repeat center top;*/
}

.imc-form .imc-element textarea	{ min-height: 5.8em; max-height: 5.8em; }
.imc-form .imc-el-files-3 textarea { min-height: 9.7em; max-height: 9.7em; }
.imc-form .imc-el-files-4 textarea { min-height: 13.6em; max-height: 13.6em; }

.imc-form .imc-element.imc-el-textarea-mono textarea { font-family: "Courier New", Courier, monospace; }

.imc-form .imc-element fielset { border: none; }
.imc-form .imc-element legend { display: block; width: 100%; padding: 0 .7em .2em .7em; }
.imc-form .imc-element ul { list-style: none; margin: 0 .7em; }
.imc-form .imc-element ul li { padding: .1em 0; }
.imc-form .imc-element ul li input { vertical-align: top; }

.imc-form .imc-el-horizontal ul li { display: inline; padding-right: .5em; }

.imc-form .imc-el-dreta .imc-el-etiqueta,
.imc-form .imc-el-dreta input,
.imc-form .imc-el-dreta legend { text-align: right; }
.imc-form .imc-el-centre .imc-el-etiqueta,
.imc-form .imc-el-centre input,
.imc-form .imc-el-centre legend { text-align: center; }

.imc-form .imc-el-dreta .imc-el-etiqueta,
.imc-form .imc-el-centre .imc-el-etiqueta { padding-right: 1em; }

/* multiple */

.imc-form .imc-el-multiple { width: 33.3%; }
.imc-form .imc-el-multiple ul { overflow: auto; overflow-x: hidden; width: calc(100% - 1.4em); height: 6.45em; background-color: #fff; border: 3px solid #ccc; }
.imc-form .imc-el-multiple ul label { display: block; width: 100%; }
.imc-form .imc-el-multiple ul label:hover { background-color: #f2f2f2; }

.imc-form .imc-el-multiple legend { width: 100%; }

/*
.imc-form .imc-el-multiple.imc-el-3 ul,
.imc-form .imc-el-multiple.imc-el-3 legend { width:25.8em; }
.imc-form .imc-el-multiple.imc-el-4 ul,
.imc-form .imc-el-multiple.imc-el-4 legend { width:35.2em; }
.imc-form .imc-el-multiple.imc-el-5 ul,
.imc-form .imc-el-multiple.imc-el-5 legend { width:42.5em; }
.imc-form .imc-el-multiple.imc-el-6 ul,
.imc-form .imc-el-multiple.imc-el-6 legend { width:53.8em; }
*/
.imc-form .imc-el-multiple.imc-el-multiple-desabilitat ul { color: #999; background-color: #f2f2f2; }

.imc-form .imc-el-files-3 > ul { height: 10.7em !important; }
.imc-form .imc-el-files-4 > ul { height: 15em !important; }

/* arbre */

.imc-form fieldset.imc-element.imc-el-arbre { width: 33.3%; }
.imc-form .imc-el-arbre > ul { overflow: auto; overflow-x: hidden; height: 10.7em; background-color: #fff; border: 3px solid #ccc; }
.imc-form .imc-el-arbre ul ul li { padding-left: 1.5em; }
.imc-form .imc-el-arbre ul ul { display: none; }
.imc-form .imc-el-arbre ul li div.imc--titol { }
.imc-form .imc-el-arbre ul li div.imc--titol.imc-amb-fills { padding-left: 1.5em; background: transparent url(../imgs/icones/ico_arbre.svg) no-repeat .3em 50% / auto .8em; }
.imc-form .imc-el-arbre ul li div.imc--titol.imc-amb-fills:hover { cursor: pointer; background-color: #f2f2f2 !important; }
.imc-form .imc-el-arbre ul li div.imc--titol.imc-amb-fills-on { background-image: url(../imgs/icones/ico_arbre_obert.svg); }

.imc-form .imc-el-arbre legend { }
/*
.imc-form .imc-el-arbre.imc-el-3 > ul,
.imc-form .imc-el-arbre.imc-el-3 legend { width:26em; }
.imc-form .imc-el-arbre.imc-el-4 > ul,
.imc-form .imc-el-arbre.imc-el-4 legend { width:35.2em; }
.imc-form .imc-el-arbre.imc-el-5 > ul,
.imc-form .imc-el-arbre.imc-el-5 legend { width:44.7em; }
.imc-form .imc-el-arbre.imc-el-6 > ul,
.imc-form .imc-el-arbre.imc-el-6 legend { width:54em; }
*/
.imc-form .imc-el-arbre input.imc-arbre-lectura,
.imc-form .imc-el-arbre label.imc-arbre-lectura { display:none; }
.imc-form .imc-el-arbre span.imc-arbre-lectura { display:inline-block; padding:.1em 0 .1em 1.8em; background:transparent url(../imgs/arbre-lectura.gif) no-repeat .3em 50%; }

.imc-form .imc-el-arbre .imc-arbre-input-seleccionat span.imc-arbre-lectura { background-image:url(../imgs/arbre-lectura-seleccionat.gif) !important; }

/* taula */

.imc-form .imc-el-taula .imc-el-taula-elements {  }

.imc-form fieldset.imc-element.imc-el-taula { width: 49.7%; }
.imc-form .imc-el-taula .imc-el-taula-botonera { padding: 0 .7em .2em .7em; }
.imc-form .imc-el-taula ul { float: left; height: 2em; margin: 0; }
.imc-form .imc-el-taula ul li { display: inline; padding: 0 !important; }
.imc-form .imc-el-taula ul.imc-el-ta-bo-posicio { float: right; }

.imc-el-taula-botonera button { font-size: .9em; padding: .4em .8em; }
.imc-el-taula-botonera button[class]::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 1em;
	height: 1em;
	margin-right: .4em;
	background: transparent url() no-repeat center center / auto 1em;
}

.imc-el-taula-botonera button[class].imc-bt-afegix::before { background-image: url(../imgs/icones/ico_afegix.svg); }
.imc-el-taula-botonera button[class].imc-bt-elimina::before { background-image: url(../imgs/icones/ico_elimina.svg); }
.imc-el-taula-botonera button[class].imc-bt-modifica::before { background-image: url(../imgs/icones/ico_modifica.svg); }
.imc-el-taula-botonera button[class].imc-bt-baixa::before { background-image: url(../imgs/icones/ico_baixa.svg); }
.imc-el-taula-botonera button[class].imc-bt-puja::before { background-image: url(../imgs/icones/ico_baixa.svg); transform: rotate(180deg); }

.imc-el-taula-botonera button[class].imc-bt-afegix,
.imc-el-taula-botonera button[class].imc-bt-modifica { background-color: #4dba79; }

.imc-el-taula-botonera button[class].imc-bt-afegix:hover,
.imc-el-taula-botonera button[class].imc-bt-afegix:focus,
.imc-el-taula-botonera button[class].imc-bt-modifica:hover,
.imc-el-taula-botonera button[class].imc-bt-modifica:focus { background-color: #368355; }

.imc-el-taula-botonera button[class].imc-bt-baixa,
.imc-el-taula-botonera button[class].imc-bt-puja { background-color: #3597d4; }

.imc-el-taula-botonera button[class].imc-bt-baixa:hover,
.imc-el-taula-botonera button[class].imc-bt-baixa:focus,
.imc-el-taula-botonera button[class].imc-bt-puja:hover,
.imc-el-taula-botonera button[class].imc-bt-puja:focus { background-color: #205b7f; }

.imc-el-taula-botonera button span { display: inline-block; vertical-align: middle; }

.imc-form .imc-el-taula div.imc-el-taula-elements { clear: both; overflow: auto; overflow-x: hidden; height: 12.1em; margin: 0 .7em; background-color: #fff; border: 3px solid #ccc; }
.imc-form .imc-el-taula div.imc-el-taula-elements p { font-style: italic; color: #333; padding: .3em .5em; }

.imc-form .imc-el-taula table { width: 100%; border-collapse: collapse; empty-cells: show; }
.imc-form .imc-el-taula th.imc-check { width: 1em; background: none !important; }
.imc-form .imc-el-taula th { text-align: left; padding: .2em 0 .4em .8em; background-color: #f2f2f2; border-right: 1px solid #fff; }
.imc-form .imc-el-taula th span { font-size: .8em; text-transform: uppercase; }
.imc-form .imc-el-taula td { padding: .3em .8em; }
.imc-form .imc-el-taula td.imc-check { padding: 0; }

/* taula tbody scroll */

.imc-form .imc-el-taula .imc-table,
.imc-form .imc-el-taula .imc-thead { overflow: hidden; width: 100%; }
.imc-form .imc-el-taula .imc-thead { /*width: 24.5em;*/ }
.imc-form .imc-el-taula .imc-thead .imc-th { float: left; }
.imc-form .imc-el-taula .imc-th.imc-check { width: 9%; background: none !important; }
.imc-form .imc-el-taula .imc-th { text-align: left; background-color: #f2f2f2; border-right: 1px solid #fff; }
.imc-form .imc-el-taula .imc-th span { display: block; font-size: .8em; text-transform: uppercase; padding: .2em 0 .4em .8em; }

.imc-form .imc-el-taula .imc-tbody-scroll { overflow: auto; height: 10.3em; }
.imc-form .imc-el-taula .imc-tbody { /*width: 52.5em;*/ }
.imc-form .imc-el-taula .imc-tbody .imc-tr { overflow: hidden; width: 100%; background-color: #fff; }
.imc-form .imc-el-taula .imc-tbody .imc-tr:hover {
	background-color: #ffeacc;
	-moz-transition: all .3s linear;
	-webkit-transition: all .1s linear;
	-ms-transition: all .1s linear;
	-o-transition: all .1s linear;
	transition: all .1s linear;
}
.imc-form .imc-el-taula .imc-td { float: left; }
.imc-form .imc-el-taula .imc-td.imc-check { width: 9%; text-align: center; padding-top: .2em; padding-left: 0; }
.imc-form .imc-el-taula .imc-td span { display: block; padding: .3em .8em; }

.imc-form .imc-el-taula .imc-thead,
.imc-form .imc-el-taula .imc-tbody { /*width: 52.5em;*/ }

/* taula botonera */

.imc-form .imc-el-taula-botonera-lateral div.imc-el-taula-botonera { float: right; width: 2em; /*padding-right: 1em;*/ padding: 0;margin-right: .7em; }
.imc-form .imc-el-taula-botonera-lateral div.imc-el-taula-botonera ul { float: none; height: inherit; margin-bottom: .4em; margin-left: 0; }
.imc-form .imc-el-taula-botonera-lateral div.imc-el-taula-botonera li { display: block; text-align: right; line-height: 1em; }
.imc-form .imc-el-taula-botonera-lateral div.imc-el-taula-botonera button { width: 2.2em; height: 2em; padding: .4em 0; text-align: center; margin-bottom: .2em; }
.imc-form .imc-el-taula-botonera-lateral div.imc-el-taula-botonera button::before { margin-right: 0; }
.imc-form .imc-el-taula-botonera-lateral div.imc-el-taula-botonera span { position: absolute; top: -999em; left: -999em; }

.imc-form .imc-el-taula-botonera-lateral .imc-el-ta-bo-posicio { padding-top: 1em; }

.imc-form .imc-el-taula-botonera-lateral legend { /*width: 23.5em;*/ }
.imc-form .imc-el-taula-botonera-lateral div.imc-el-taula-elements { float: left; clear: none; width: calc(100% - 3.7em); /*width: 51.7em;*/ height: 14.2em; margin-right: 0; }
/*
.imc-form .imc-el-taula legend { width: 54em; }

.imc-form .imc-el-taula .imc-el-taula-elements,
.imc-form .imc-el-taula legend { width: 54em; }

.imc-form .imc-el-taula-botonera-lateral legend { width: 23.9em; }

.imc-form .imc-el-taula-botonera-lateral .imc-el-taula-elements,
.imc-form .imc-el-taula-botonera-lateral legend { width: 51.7em; }

.imc-form .imc-el-taula-botonera-lateral .imc-thead,
.imc-form .imc-el-taula-botonera-lateral .imc-tbody { width: 50em; }
*/
.imc-form .imc-el-taula-botonera-lateral .imc-tbody-scroll { height: 12.2em; }

/* taula de elements */

.imc-form .imc-element.imc-el-table { width: 16.6%; padding: 0; margin-right: 0; }

.imc-form .imc-el-table.imc-el-2 { width: 33.2% !important; }
/*
.imc-form .imc-el-table.imc-el-2 input,
.imc-form .imc-el-table.imc-el-2 textarea { width:16.2em; }
.imc-form .imc-el-table.imc-el-2 .imc-select { width:14.2em; }*/

.imc-form .imc-el-table.imc-el-3 { width: 49.8% !important; }
/*
.imc-form .imc-el-table.imc-el-3 input,
.imc-form .imc-el-table.imc-el-3 textarea { width:25.4em; min-width:25.4em; max-width:25.4em; }
.imc-form .imc-el-table.imc-el-3 .imc-select { width:23.4em; }*/

.imc-form .imc-el-table.imc-el-4 { width: 66.4% !important; }

/*.imc-form .imc-el-table.imc-el-4 input,
.imc-form .imc-el-table.imc-el-4 textarea { width:34.6em; min-width:34.6em; max-width:34.6em; }
.imc-form .imc-el-table.imc-el-4 .imc-select { width:32.6em; }*/

.imc-form .imc-el-table.imc-el-5 { width: 83% !important; }
/*
.imc-form .imc-el-table.imc-el-5 input,
.imc-form .imc-el-table.imc-el-5 textarea { width:43.8em; min-width:43.8em; max-width:43.8em; }
.imc-form .imc-el-table.imc-el-5 .imc-select { width:41.8em; }*/

.imc-form .imc-el-table.imc-el-6 { width: 99.6% !important; }
/*
.imc-form .imc-el-table.imc-el-6 input,
.imc-form .imc-el-table.imc-el-6 textarea { width:53em; min-width:53em; max-width:53em; }
.imc-form .imc-el-table.imc-el-3 .imc-select { width:51em; }*/

.imc-form .imc-el-ta-buida .imc-el-etiqueta,
.imc-form .imc-el-ta-buida .imc-el-control { border: none !important; }

.imc-form .imc-el-table .imc-el-etiqueta { min-height: 3em; padding: .3em .5em 0 .5em; }
.imc-form .imc-el-table .imc-el-control { min-height: 3em; padding: .3em .5em 0 .5em; }

.imc-form .imc-el-ta-cap .imc-el-etiqueta { font-weight: bold; border: 1px solid #ccc; }
.imc-form .imc-el-ta-cap .imc-el-control { display: none; }

.imc-form .imc-el-ta-cela .imc-el-etiqueta { display: none; }
.imc-form .imc-el-ta-cela .imc-el-control { border: 1px solid #ccc; }

.imc-form .imc-el-table.imc-el-files-2 .imc-el-etiqueta,
.imc-form .imc-el-table.imc-el-files-2 .imc-el-control { height: 6em; }
.imc-form .imc-el-table.imc-el-files-3 .imc-el-etiqueta,
.imc-form .imc-el-table.imc-el-files-3 .imc-el-control { height: 9em; }
.imc-form .imc-el-table.imc-el-files-4 .imc-el-etiqueta,
.imc-form .imc-el-table.imc-el-files-4 .imc-el-control { height: 12em; }

.imc-form .imc-el-table.imc-el-files-2 textarea { height: 4.5em; min-height: 4.5em; max-height: 4.5em; }
.imc-form .imc-el-table.imc-el-files-3 textarea { height: 7.3em; min-height: 7.3em; max-height: 7.3em; }
.imc-form .imc-el-table.imc-el-files-4 textarea { height: 10em; min-height: 10em; max-height: 10em; }

/* lectura */

.imc-form ul.imc-sols-lectura { display: none; }
.imc-form span.imc-sols-lectura { display: inline-block; font-style: italic; padding: .15em .5em; margin: 0 .5em 0 .2em; background-color: #e0e0e0; }
.imc-form span.imc-sols-lectura-cap { display: block; font-style: italic; padding: .15em .5em; margin: 0 .5em 0 .2em; background-color: #e0e0e0; }

.imc-form .imc-el-multiple div.imc-el-multiple-lectura { overflow: auto; overflow-x: hidden; height: 4.9em; margin: 0 .7em; background-color: #fff; border: 3px solid #ccc; }
.imc-form .imc-el-multiple div.imc-el-multiple-lectura span { display: block; margin: .2em; }
/*
.imc-form .imc-el-multiple.imc-el-3 div.imc-el-multiple-lectura { width: 25.8em; }
.imc-form .imc-el-multiple.imc-el-4 div.imc-el-multiple-lectura { width: 35.2em; }
.imc-form .imc-el-multiple.imc-el-5 div.imc-el-multiple-lectura { width: 42.5em; }
.imc-form .imc-el-multiple.imc-el-6 div.imc-el-multiple-lectura { width: 53.8em; }
*/
.imc-form .imc-el-files-3 > div.imc-el-multiple-lectura { height: 8.9em !important; }
.imc-form .imc-el-files-4 > div.imc-el-multiple-lectura { height: 12.9em !important; }

/* check */
/*
.imc-form .imc-el-check { width: 8.4em; }
.imc-form .imc-el-check.imc-el-2 { width: 17.8em !important; }
.imc-form .imc-el-check.imc-el-3 { width: 27.2em !important; }
.imc-form .imc-el-check.imc-el-4 { width: 36.5em !important; }
.imc-form .imc-el-check.imc-el-5 { width: 46em !important; }
.imc-form .imc-el-check.imc-el-6 { width: 55.5em !important; }
*/
.imc-form .imc-el-check input { vertical-align: top; }
.imc-form .imc-el-check span { margin-left: .4em; }

.imc-form .imc-el-table.imc-el-check .imc-el-control { text-align: center; }
.imc-form .imc-el-table.imc-el-check .imc-el-control label { display: block; }
.imc-form .imc-el-table.imc-el-check .imc-el-control label span { position: absolute; top: -999em; left: -999em; }

.imc-form label.imc-check-lectura input { display: none; }
.imc-form label.imc-check-lectura span { padding-left: 1.6em; background:transparent url(../imgs/arbre-lectura-seleccionat.gif) no-repeat left center; }
.imc-form label.imc-check-lectura-noSel span { background-image: url(../imgs/arbre-lectura.gif); }

/* botonera */

.imc-form .imc-el-botonera { position:fixed; z-index:1; top:0; right:0; width:30em; text-align:right; padding-top:.5em; border:none; }
.imc-form .imc-el-botonera ul { list-style:none; }
.imc-form .imc-el-botonera li { display:inline; }
.imc-form .imc-el-botonera button { font-size:1em; padding:0 .5em; margin:0; }
.imc-form .imc-el-botonera button span { padding-left:1.3em; }
.imc-form .imc-el-botonera button.imc-bt-ta-guarda-i-nou span { background:transparent url(../imgs/bt-taula-guarda-nou.gif) no-repeat left center; }
.imc-form .imc-el-botonera button.imc-bt-ta-guarda span { background:transparent url(../imgs/bt-taula-guarda.gif) no-repeat left center; }
.imc-form .imc-el-botonera button.imc-bt-ta-cancela span { background:transparent url(../imgs/bt-taula-cancela.gif) no-repeat left center; }

/* taula iframe */

.imc-el-taula-iframe {
	position: absolute;
	z-index: 2;
	left: 50%;
	width: 59em;
	margin-left: -29em;
	background-color: #fff;
	-moz-box-shadow: 0 0 1em rgb(68,68,68);
	-webkit-box-shadow: 0 0 1em rgb(68,68,68);
	-ms-box-shadow: 0 0 1em rgb(68,68,68);
	-o-box-shadow: 0 0 1em rgb(68,68,68);
	box-shadow: 0 0 1em rgb(68,68,68);
}

.imc-iframe-fons { position: absolute; z-index: 1; top: 0; left: 0; width: 100%; height: 100%; background-color: #000; opacity: .5; }

.no-opacity .imc-iframe-fons {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

.imc-el-taula-iframe-centrat { position: fixed; top: 50%; left: 50%; height: 36em; margin-top: -18em; }

/* import */

.imc-form .imc-el-import .imc-el-control input[type="text"] { width: 6em; text-align: right; padding: .1em .2em 0 0; }
.imc-form .imc-el-2.imc-el-import .imc-el-control input[type="text"] { width: 15em; }
.imc-form .imc-el-3.imc-el-import .imc-el-control input[type="text"] { width: 24em; min-width: 24em; max-width: 24em; }

/* captcha */

.imc-form .imc-el-captcha { width: 32.5%; }
.imc-form .imc-el-captcha img { float: left; margin-right: .5em; }
.imc-form .imc-el-captcha .imc-el-control input[type="text"] { width: 5em; }
.imc-form .imc-el-captcha p { display: inline-block; vertical-align: middle; margin: 0; }

.imc-form .imc-el-captcha .imc-bt-refrescar { display: inline-block; width: 2.5em; height: 2.2em; background: #cc073c url(../imgs/icones/ico_refresca.svg) no-repeat center center / 1em auto; }

.imc-form .imc-el-captcha .imc-bt-refrescar:hover,
.imc-form .imc-el-captcha .imc-bt-refrescar:focus { background-color: #000; }

/* missatge en linia */

.imc-form .imc-element.imc-missatge-en-linia { position: relative; width: 100%; font-size: 1.1em; padding: .8em 1em .3em 4.5em; margin-bottom: .7em; border: 3px solid rgba(53, 151, 212, .4); }

.imc-form .imc-missatge-en-linia-alerta { color: #000; border-color: rgba(218, 162, 29, .4); }
.imc-form .imc-missatge-en-linia-error { color: #c00; border-color: rgba(204, 7, 60, .4); }

.imc-form .imc-missatge-en-linia::before {
	content: "";
	display: block;
	position: absolute;
	top: .5em;
	left: 1em;
	width: 2em;
	height: 2em;
	background: transparent url() no-repeat center center / auto 2em;
}

.imc-form .imc-missatge-en-linia-info::before { background-image: url(../imgs/icones/ico_missatge_info.svg); }
.imc-form .imc-missatge-en-linia-alerta::before { background-image: url(../imgs/icones/ico_missatge_alerta.svg); }
.imc-form .imc-missatge-en-linia-error::before { background-image: url(../imgs/icones/ico_error.svg); }

.imc-form .imc-missatge-en-linia p { padding-bottom: .5em; }
.imc-form .imc-missatge-en-linia ul { list-style: circle; padding-bottom: .5em; margin: .5em 0 0 2em; }

/* nav */

.imc-forms-nav { clear: both; padding: 2em 0; margin-top: 2em; }
.imc-forms-nav ul { list-style: none; text-align: center; }
.imc-forms-nav li { display: inline-block; width: 15em; min-height: 3.9em; vertical-align: middle; border: 1px solid #ededed; }

.imc-forms-nav li.imc-nav-desa { }

.imc-forms-nav .imc-bt {
	display: block;
	width: 100%;
	font-size: 110%;
	text-align: left;
	line-height: 1.5em;
	padding: 1em;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
.imc-forms-nav a.imc-bt span { }

.imc-forms-nav button { width: 100%; text-align: left; line-height: 1em; padding: 1em; }

.imc-forms-nav .imc-bt,
.imc-forms-nav .imc-bt {
	color: #fff;
	background-color: #cc073c;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.imc-forms-nav .imc-bt:hover,
.imc-forms-nav .imc-bt:focus { background-color: #000; }

.imc-forms-nav .imc-nav-desa button,
.imc-forms-nav .imc-nav-finalitza button { line-height: 1.5em; background-color: #4dba79; }

.imc-forms-nav .imc-nav-desa button:hover,
.imc-forms-nav .imc-nav-desa button:focus,
.imc-forms-nav .imc-nav-finalitza button:hover,
.imc-forms-nav .imc-nav-finalitza button:focus { background-color: #368355; }

.imc-forms-nav .imc-bt::before,
.imc-forms-nav .imc-nav-desa button::before,
.imc-forms-nav .imc-nav-finalitza button::before {
	content: "";
	display: inline-block;
	float: right;
	vertical-align: middle;
	width: 1.5em;
	height: 1.5em;
	background: transparent url() no-repeat center center / auto 1.5em;
}

.imc-forms-nav .imc-nav-desa,
.imc-forms-nav .imc-nav-finalitza { margin-left: 2em; }
.imc-forms-nav .imc-nav-desa button::before { background-image: url(../imgs/icones/ico_form_guarda.svg); }
.imc-forms-nav .imc-nav-finalitza button::before { background-image: url(../imgs/icones/ico_guarda.svg); }

.imc-forms-nav .imc-nav-seguent .imc-bt::before { background-image: url(../imgs/icones/ico_form_seguent.svg); background-size: auto 1em; }

.imc-forms-nav .imc-nav-anterior .imc-bt { text-align: right; }
.imc-forms-nav .imc-nav-anterior .imc-bt::before { float: left; background-image: url(../imgs/icones/ico_form_seguent.svg); background-size: auto 1em; transform: rotate(180deg); }

/* peu */

aside { display: flex; clear: both; max-width: 86em; margin: 2em; }
aside div { width: 50%; font-size: .9em; }
aside div:last-child { text-align: right; }
aside address { display: inline; }

aside { display: none; }


/* media */

@media only screen and (min-width : 1376px) {

	.imc-forms-errors,
	.imc-forms-formulari { margin: 1em auto; }

	aside { margin: 2em auto; }

}

@media only screen and (max-width : 770px) {

	html,
	body { overflow-x: auto; }

	.imc-forms-cap .imc--torna { padding-left: 0; }

	.imc-forms-cap h1 { padding: 1em; }
	.imc-forms-cap .imc--ajuda { padding: 1em; }
	.imc-forms-cap h2 { padding: 0 1em; }
	.imc-forms-cap h2 span::before { left: .9em; }

	.imc-form-contenidor form { font-size: .9em; }

	.imc-forms-errors { margin: 1em .8em; }

	.imc-forms-formulari { margin: 0 .8em; }

	.imc-form .imc-el-etiqueta { padding: 0 .5em .2em .5em; }

	.imc-form .imc-el-control { padding: 0 .5em; }

	nav { font-size: .9em; }

	.imc-el-taula-botonera button[class] span { position: absolute; top: -999em; left: -999em; }

	.imc-el-taula-botonera button[class]::before { margin-right: 0; }

}


@media only screen and (max-width : 420px) {

	.imc-forms-cap .imc--marc li { width: 30%; }
	.imc-forms-cap .imc--marc li:last-child { width: 70%; }

	.imc-bt.imc--sortiu span { position: absolute; top: -999em; left: -999em; }

	.imc-forms-cap .imc--contingut { font-size: 80%; }

}

@media only screen and (max-width : 370px) {

	.imc-forms-cap .imc--marc li { width: 20%; }
	.imc-forms-cap .imc--marc li:last-child { width: 80%; }

		.imc-bt.imc--sortiu::before {
    margin-right: 0; }

}