

# Class => org.fundaciobit.pluginsib.carpetafront.expedients.ExpedientsCarpetaFrontPlugin
# Package BASE => es.caib.carpeta.pluginsib.carpetafront.expedients.


es.caib.carpeta.pluginsib.carpetafront.expedients.elementsperpagina=5


# Classe i Propietats mínimes del Plugin d'Arxiu per fer Consultes
es.caib.carpeta.pluginsib.carpetafront.expedients.arxiuclass=es.caib.plugins.arxiu.caib.ArxiuPluginCaib
es.caib.carpeta.pluginsib.carpetafront.expedients.plugin.arxiu.caib.base.url=https://esbse.caib.es:4430/esb
es.caib.carpeta.pluginsib.carpetafront.expedients.plugin.arxiu.caib.aplicacio.codi=CODEAPP
es.caib.carpeta.pluginsib.carpetafront.expedients.plugin.arxiu.caib.usuari=username
es.caib.carpeta.pluginsib.carpetafront.expedients.plugin.arxiu.caib.contrasenya=password




# Connexió amb ROLSAC

es.caib.carpeta.pluginsib.carpetafront.expedients.rolsac.url=https://proves.caib.es/rolsac/api/rest/v1/
es.caib.carpeta.pluginsib.carpetafront.expedients.rolsac.username=username_rolsac
es.caib.carpeta.pluginsib.carpetafront.expedients.rolsac.password=password
es.caib.carpeta.pluginsib.carpetafront.expedients.rolsac.connecttimeout=20000
es.caib.carpeta.pluginsib.carpetafront.expedients.rolsac.readtimeout=20000


#Filtres plugin Expedient
#es.caib.carpeta.pluginsib.carpetafront.expedients.filtre.1.metadada=eni:metadada_sample
#es.caib.carpeta.pluginsib.carpetafront.expedients.filtre.1.operacio=CONTE
#es.caib.carpeta.pluginsib.carpetafront.expedients.filtre.1.valor1=valor1_sample
#es.caib.carpeta.pluginsib.carpetafront.expedients.filtre.1.valor2=valor2_sample

#es.caib.carpeta.pluginsib.carpetafront.expedients.filtre.2.metadada=...