
a{
	color: #32814B;
}
a:hover{
	color: #000;
	text-decoration: none;
}

/* Botó color Carpeta */
.btn-primary.carpeta-btn {
	background-color: #32814B;
	border-color: #32814B;
	border: none !important;
	color: #ffffff !important;
}
.btn-primary.carpeta-btn:hover,
.btn-primary.carpeta-btn:focus,
.btn-primary.carpeta-btn:active{
	background-color: #000 !important;
	border: none #000 !important;
	outline: none !important;
	box-shadow: none !important;
}
/* Fi Botó color Carpeta */

.lh15{
	line-height:1.5
}
.margen-top-clave{
	padding-top: 3rem !important;
}

.container-contenido {
    margin-left: 0 !important;
}
img:hover {
    border: 0px;
}
.margen-top-clave{
	padding-top: 3rem !important;
}

.imc--sortir::before {
	background-image: url(../images/sortir.png);
	opacity: 1 !important;
}
.imc--tramits::before {
	background-image: url(../images/tramits.png);
	opacity: 1 !important;
}
.imc--registres::before {
	background-image: url(../images/registres.png);
	opacity: 1 !important;
}
.imc--notificacions::before {
	background-image: url(../images/notificacions.png);
	opacity: 1 !important;
}

.imc--llista--capses{
	box-sizing: border-box;
}
.imc--capsa{
	background-color: #e9e9e9;
}
.card-title{
	font: normal 100% 'Noto Sans', 'TrebuchetMS', 'Trebuchet MS', Arial, Helvetica, sans-serif;
	vertical-align: baseline;
}
.imc--logoclave{ 
	background-image: url(../images/solicitar_clave_acceso_dgt.png); 
	background-repeat: no-repeat;
	width: 180px;
    height: 87px;
}
.imc--logowai{ 
	background-image: url(../images/wcag2AA.png); 
	background-repeat: no-repeat;
	width: 88px;
    height: 31px;
}
.upper{
	text-transform: uppercase;
}
.clickable-row{
	cursor: pointer;
}
.imc-titol h5 span {
	font-weight: normal;
	color: #fff;
	text-transform: uppercase;
	font-size: 0.8em;
	padding-right: 1em;
}
.usuari{
	top: 2.5em;
	height: 2em;
}
.imc-icona{
    height: 2em;
    padding-right: 0.5em;
}

/* Canvis per React */
/*.imc-continguts {
    max-width: 100% !important;
}*/
.boton-menu{
	background-color: transparent;
  font-size: 1.1em;
  font-weight: bold;
  color: #545454;
  text-transform: uppercase;
  padding: 1em 0.6em;
  border: none;
}
.boton-menu:hover{
  color: #cc073c;
}
.imc-separador{
	/*font-size: 0.750em;*/
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.imc-bt-rotate{
	transform: rotate(-90deg);
	width: 2em !important;
	background-color: transparent !important;
	float: right;
}
.verd-carpeta{
	background-color: #32814B;
}
.ponerMovil{
	display: none;
}
.fonsPlugin{
	background-color: #F8F8F8;
}
.titol{
    text-transform: uppercase;
}
.imc-logo a.imc--goib {
	height: auto;
	background: none;
}
.imc-logo li a::before {
	content: none;
}
.alert1{
	border-color: blue;
	border-width: medium;
}
.alert2{
	border-color: orange;
	border-width: medium;
}
.alert3{
    border-color: red;
    border-width: medium;
}
.botoMenu{
	display: block;
	font-size: 1.1em;
	font-weight: bold;
	color: #545454;
	text-transform: uppercase;
	padding: 1em 0;
	width: 100%;
	text-align: justify;
	background-color: #ffffff;
}
.alert1menu{
	border: groove;
	border-color: blue;
	border-width: medium;
}
.alert2menu{
	border: groove;
	border-color: orange;
	border-width: medium;
}
.alert3menu{
	border: groove;
	border-color: red;
	border-width: medium;
}
.avis1{
	color:#0c5460;
	background-color:#d1ecf1;
	border-color:#bee5eb;
	border-radius: 4px;
}
.avis2{
	color:#856404;
	background-color:#fff3cd;
	border-color:#ffeeba;
	border-radius: 4px;
}
.avis3{
	color:#721c24;
	background-color:#f8d7da;
	border-color:#f5c6cb;
	border-radius: 4px;
}

/* RESPONSIVE

/*Se aplican cuando el width es menor que 992px*/
@media only screen and (max-width: 992px) {
.botonCorto{
    display: none;
}
.movil{
	float: left !important;
}
.container {
	max-width: initial !important;
}
.pri-col-deta-reg{
	flex: 100% !important;
	max-width: 100% !important;
	padding: 0 !important;
}
.seg-col-deta-reg{
	flex: 100% !important;
	max-width: 100% !important;
	padding: 0 !important;
}
.quitarTablet{
	display: none;
}
.capsaMenu{
    min-height: 18rem !important;
}
}

/*Se aplican cuando el width es menor que 768*/
@media only screen and (max-width : 767px) {
.colorVerde{
	background-color: #4DBA79 !important;
	margin-left: 0px !important;
}
.movil li a:hover{
	background-color: #4DBA79 !important;
}
.colorVerde:hover{
	background-color: #4DBA79 !important;
}
.pieResponsive{
    display: list-item !important;
    list-style: none !important;
}
.elementPieResponsive{
    max-width: 100% !important;
    text-align: center !important;
	justify-content: center !important;
}
.quitarMovil{
	display: none;
}
.ponerMovil{
	display: inline;
}
.botonCorto{
	display: inline;
}
.navbar-nav.movil {
	width: 100%;
}
.dropdown-menu {
	float: none;
	padding: 0;
}
a.nav-link.movil:hover {
	 color: #000 !important;
}
a.dropdown-item.movil:hover {
	color: #4dba79 !important;
	background-color: #FFF !important;
}
.mr-auto {
	margin-left: 0 !important;
}
.p-3carpeta {
	padding-bottom: 1rem !important;
}
.marg0 {
	border: 0px !important;
}
.tablaRegistros {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
div.dataTables_wrapper div.dataTables_info {
	white-space: pre-line !important;
	padding-bottom: 1rem !important;
}
thead>tr>th.sorting {
	padding-right: 0 !important;
}
.subtituloMay {
	font-size: 0.8rem !important;
}
.margen-left-clave{
	padding-left: 15px !important;
}

.capsaMenu{
	min-height: 20rem !important;
}
}

/*Se aplican cuando el width es menor que 692*/
@media only screen and (max-width : 692px) {
.boxGestio{
	max-width: 100% !important;
	flex: auto;
}
.capsaMenu{
	min-height: 5rem !important;
}
}

/*Se aplican cuando el width es menor que 480*/
@media only screen and (min-width : 401px) and (max-width : 480px) {
body {
	padding-top: 4rem !important;
}
.logoGovern {
    margin-right: 10px !important;
    margin-left: 10px !important;
}
.imatgeGovern{
    width: 45px !important;
}
.navbar-toggler {
    padding: 0.25rem !important;
    font-size: 1rem !important;
}
.desactivarMovil{
	display: none !important;
}
.pieResponsive{
	display: list-item !important;
}
.breadcrumb{
	padding: 1rem 1rem 0.5rem 1rem !important;
	border-radius: 0 !important;
}
.containerPie{
	margin-left: 0 !important;
	margin-right: 0 !important;
}
}

/*Se aplican cuando el width es menor que 400*/
@media only screen and (min-width : 200px) and (max-width : 400px) {
body {
	padding-top: 4rem !important;
}
.logoGovern {
    margin-right: 5px !important;
    margin-left: 5px !important;
}
.imatgeGovern{
    width: 40px !important;
}
.navbar-brand {
    font-size: 1rem !important;
}
.tituloLopd{
	font-size: 1rem !important;
}
.lopd{
	font-size: 0.8rem !important;
}
.datosSoporte{
	padding-left: 30px !important;
	line-height: 1.5 !important;
}
.datosSoporte li{
	list-style: circle !important;
}
.navbar-nav.movil {
	padding-left: 20px !important;
}
.navbar-toggler {
    padding: 0.25rem !important;
    font-size: 1rem !important;
}
.desactivarMovil{
	display: none !important;
}
.breadcrumb{
	padding: .35rem 0.6rem !important;
	border-radius: 0 !important;
}
}

/* FI RESPONSIVE */
